dev/pug/vue/pages/admin/_create-news.vue.pug
script(type="text/x-template"  id="template-admin-create-news")
	.create.audio-create
		section.create-section
			.wrap
				a(href="#").create-delete Удалить новость

				.create-section-base
					.create-head
						h2.create-title Новая рекламная кампания с оклейкой
					.create-body
						.create-item
							vue-input Название новости
						.create-item
							vue-textarea Текст новости
				.create-section-extra
					.create-head
					.create-item.create-item_load.align-left-center
						vue-button-load


		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Кто видит новость
					.create-body
						
						.create-item.create-item_toggle
							.create-item__text Исключить авто с коррозией
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить битые авто
							.create-item__toggle
								vue-toggle

						.create-item
							vue-input Цвет
						
						.create-item
							vue-input Марки авто

						.create-item.create-item_toggle
							.create-item__text Исключить китайские авто
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить русские авто
							.create-item__toggle
								vue-toggle
						.create-item
							vue-select Возраст авто


				.create-section-extra
					.create-head
					.create-item.align-left-center
						.create-item__label Доступно <br>автомобилей
						.create-item__count 42
							span /210


				

		.create-button
			vue-button(v-bind:gradient="true") Опубликовать новость

pub/vue/pages/admin/_create-news.vue.html
<script type="text/x-template" id="template-admin-create-news"><div class="create audio-create"><section class="create-section"><div class="wrap"><a class="create-delete" href="#">Удалить новость</a><div class="create-section-base"><div class="create-head"><h2 class="create-title">Новая рекламная кампания с оклейкой</h2></div><div class="create-body"><div class="create-item"><vue-input>Название новости</vue-input></div><div class="create-item"><vue-textarea>Текст новости</vue-textarea></div></div></div><div class="create-section-extra"><div class="create-head"></div><div class="create-item create-item_load align-left-center"><vue-button-load></vue-button-load></div></div></div></section><section class="create-section"><div class="wrap"><div class="create-section-base"><div class="create-head"><h2 class="create-title">Кто видит новость</h2></div><div class="create-body"><div class="create-item create-item_toggle"><div class="create-item__text">Исключить авто с коррозией</div><div class="create-item__toggle"><vue-toggle></vue-toggle></div></div><div class="create-item create-item_toggle"><div class="create-item__text">Исключить битые авто</div><div class="create-item__toggle"><vue-toggle></vue-toggle></div></div><div class="create-item"><vue-input>Цвет</vue-input></div><div class="create-item"><vue-input>Марки авто</vue-input></div><div class="create-item create-item_toggle"><div class="create-item__text">Исключить китайские авто</div><div class="create-item__toggle"><vue-toggle></vue-toggle></div></div><div class="create-item create-item_toggle"><div class="create-item__text">Исключить русские авто</div><div class="create-item__toggle"><vue-toggle></vue-toggle></div></div><div class="create-item"><vue-select>Возраст авто</vue-select></div></div></div><div class="create-section-extra"><div class="create-head"></div><div class="create-item align-left-center"><div class="create-item__label">Доступно <br>автомобилей</div><div class="create-item__count">42<span>/210</span></div></div></div></div></section><div class="create-button"><vue-button v-bind:gradient="true">Опубликовать новость</vue-button></div></div></script>
