dev/pug/vue/pages/admin/admin-audio.vue.pug
script(type="text/x-template"  id="template-admin-audio")
	.auto.audio
		.auto-map
		.auto-head
			.wrap
				.audio-head__wrap
					.audio-head__left
						.auto-top
							.auto-top__wrap
								.auto-top-label
									.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
									//-.auto-top-label__image.disable(style="background-image: url('assets/imgs/car.jpg');")
									.auto-top-label__wrap
										h2.auto-top-label__title Сбербанк Спасибо
										p.auto-top-label__text с 08 февраля по 8 марта 2017
								.auto-top-buttons
									.auto-info-item
										span.auto-info-item__number 42
										p.auto-info-item__text Точки </br>с рекламой
									.auto-top__button
										vue-button() Редактировать
									.auto-top-button
										img(src="assets/imgs/icon-load.svg")
										p pdf


						.auto-info
							
							.auto-info__wrap
								.auto-info-item
									p.auto-info-item__text Автомобилей оклеено
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Автомобилей оклеиваются
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Сейчас в пути
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Суммарный пробег, км
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Средний возраст авто, лет
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Средний возраст авто, лет
									span.auto-info-item__number 42

					//- .audio-all
					//- 	p.audio-all__title Аудио для всех точек
					//- 	.audio-all__player
					//- 		+player('play',  'sd1sd.waw', '0:18', '13%')
					//- 	.audio-all__button
					//- 		vue-button(v-bind:gradient="true") Загрузить новое

				.audio-bottom
					.audio__wrap
						.audio__left
							.chat-actions
								.chat-actions__item Услышали рекламу (70)
								.chat-actions__item Нажали на точку (42)
								.chat-actions__item Построили маршрут (19)
						.audio-slider
							vue-slider Интервал
						.audio-audio
							.audio-audio__label Аудио
							//- +player('play',  'sd1sd.waw', '0:18', '13%')
						.audio-button
							vue-button(v-bind:gradient="true") Загрузить новое
			
			.audio-body
				vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]')

					

pub/vue/pages/admin/admin-audio.vue.html
<script type="text/x-template" id="template-admin-audio"><div class="auto audio"><div class="auto-map"></div><div class="auto-head"><div class="wrap"><div class="audio-head__wrap"><div class="audio-head__left"><div class="auto-top"><div class="auto-top__wrap"><div class="auto-top-label"><div class="auto-top-label__image" style="background-image: url('assets/imgs/car.jpg');"></div><div class="auto-top-label__wrap"><h2 class="auto-top-label__title">Сбербанк Спасибо</h2><p class="auto-top-label__text">с 08 февраля по 8 марта 2017</p></div></div><div class="auto-top-buttons"><div class="auto-info-item"><span class="auto-info-item__number">42</span><p class="auto-info-item__text">Точки </br>с рекламой</p></div><div class="auto-top__button"><vue-button>Редактировать</vue-button></div><div class="auto-top-button"><img src="assets/imgs/icon-load.svg"/><p>pdf</p></div></div></div></div><div class="auto-info"><div class="auto-info__wrap"><div class="auto-info-item"><p class="auto-info-item__text">Автомобилей оклеено</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Автомобилей оклеиваются</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Сейчас в пути</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Суммарный пробег, км</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Средний возраст авто, лет</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Средний возраст авто, лет</p><span class="auto-info-item__number">42</span></div></div></div></div></div><div class="audio-bottom"><div class="audio__wrap"><div class="audio__left"><div class="chat-actions"><div class="chat-actions__item">Услышали рекламу (70)</div><div class="chat-actions__item">Нажали на точку (42)</div><div class="chat-actions__item">Построили маршрут (19)</div></div></div><div class="audio-slider"><vue-slider>Интервал</vue-slider></div><div class="audio-audio"><div class="audio-audio__label">Аудио</div></div><div class="audio-button"><vue-button v-bind:gradient="true">Загрузить новое</vue-button></div></div></div></div><div class="audio-body"><vue-table :data="[{&quot;id&quot;:1,&quot;auto&quot;:&quot;1auto&quot;,&quot;gid&quot;:&quot;7gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;1km&quot;,&quot;date&quot;:&quot;1date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:2,&quot;auto&quot;:&quot;3auto&quot;,&quot;gid&quot;:&quot;4gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;4date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:3,&quot;auto&quot;:&quot;6a2uto&quot;,&quot;gid&quot;:&quot;9gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;2date&quot;,&quot;driver&quot;:&quot;1driver&quot;}]"></vue-table></div></div></div></script>
