pub/vue/pages/admin/admin-race.vue.html
<script type="text/x-template" id="template-admin-race"><section class="race"><div class="race__form form-create" v-if="race_step==0"><h2 class="form-create__title">Создание гонки</h2><ul class="form-create__list"><li class="form-create__item"><div class="form-create__block"><label class="form-create__label" for="race-date">Дата гонки</label><vue-calendar type="input"></vue-calendar></div><p class="form-create__text"></p></li><li class="form-create__item"><div class="form-create__block"><vue-select v-model="race_start_time" :options="race_start_time_options" value="race_start_time">Время старта</vue-select></div><p class="form-create__text"></p></li><li class="form-create__item"><div class="form-create__block"><vue-input value="" type="input" name="footer_link_vkontakte" placeholder="10 минут">Время на выбор точки финиша</vue-input></div><p class="form-create__text">Точку финиша можно выбрать с <span class="form-create__finish-from">17:50</span> до <span class="form-create__finish-to">18:00</span></p></li><li class="form-create__item"><div class="form-create__block"><vue-input value="" type="input" name="footer_link_vkontakte" placeholder="10 минут">Время на подтверждение</vue-input></div><p class="form-create__text">Участники подтверждают участие с <span class="form-create__accept-from">17:40</span> до <span class="form-create__accept-to">17:50</span></p></li></ul><h2 class="form-create__title">Контроль проведения</h2><ul class="form-create__list"><li class="form-create__item"><div class="form-create__block"><vue-input value="" type="input" name="footer_link_vkontakte" placeholder="+79999999999">Номер человека на финише</vue-input></div><p class="form-create__text">На этот телефон в SMS придет пароль от панели управления финишем в момент старта гонки</p></li></ul><div class="form-create__list" style="margin-bottom: 20px"><vue-button v-bind:gradient="true" @click.native="createRace">Объявить гонку</vue-button></div></div><div v-if="race_step==1 || race_step==2 || race_step==3"><div class="race__wrapper"><div class="race__map"><div id="race-map" style="width: 100%; height: 100%;position: absolute;"></div><button class="button race__button race__button--back" @click="goDahboardScreen">Назад к компаниям</button><div v-if="race_step==3"><button class="button button_gr race__button race__button--set-finish" v-if="point_finish_step==0" @click="setFinish">Установите точку финиша</button><button class="button button_gr race__button race__button--finish" v-if="point_finish_step==1" @click="setFinish">Финиш будет тут</button><button class="button race__button race__button--change-finish" v-if="point_finish_step==2" @click="setFinish">Изменить точку финиша</button></div><!-- Переход в полноэкранный режим--><button class="button race__button race__button--fullscreen" v-if="race_step==3 &amp;&amp; point_finish_step==2" @click="goRaceScreen">В полноэкранный режим</button></div></div><section class="race__progress-bar progress-bar"><div class="progress-bar__block progress-bar__block--complete"><div class="progress-bar__success"></div><h2 class="progress-bar__title">Гонка объявлена</h2><span class="progress-bar__date">1 марта 13:04</span></div><div class="progress-bar__block" :class="{ 'progress-bar__block--complete' : (race_step==2 || race_step==3) }"><div class="progress-bar__success"></div><h2 class="progress-bar__title">Подтверждение участников</h2><span class="progress-bar__date">8 марта 17:40</span></div><div class="progress-bar__block" :class="{ 'progress-bar__block--complete' : race_step==3 }"><div class="progress-bar__success"></div><h2 class="progress-bar__title">Указана точка финиша</h2><span class="progress-bar__date">8 марта 17:50</span></div><div class="progress-bar__block"><div class="progress-bar__success"></div><h2 class="progress-bar__title">Старт</h2><span class="progress-bar__date">8 марта 18:00</span></div></section><div class="race__timer-block" v-if="race_step!=1"><span class="race__participants"></span><div class="race__timer-wrapper"><p class="race__text" v-if="race_step==2">До конца подтверждения</p><p class="race__text" v-if="race_step==3">До старта участников</p><span class="race__timer">7:31</span></div></div><div v-if="race_step==1"><div class="race__request-block" style="margin-bottom: 40px"><span class="race__request">Заявки на участие в РК</span></div><div class="table_race"></div><div class="race__request-block" style="margin-bottom: 40px"><span class="race__request">Заявки на оклейку</span></div><div class="table_race"></div><div class="race__request-block" style="margin-bottom: 40px"><span class="race__request">Принятые заявки</span></div><div class="table_race"></div></div><div v-if="race_step!=1"><div class="race__request-block" style="margin-bottom: 40px"><span class="race__request">Участники</span></div><div class="table_race"></div></div><div class="table_race"></div></div><!-- -------------------------------------------------------><div v-if="race_step==4"><section class="race__leaderboard leaderboard"><div class="leaderboard__wrapper"><img class="leaderboard__img" src="../assets/imgs/icon-car.svg"/><p class="leaderboard__title">Лидеры гонки</p><div class="leaderboard__shadow"></div><div class="leaderboard__list"><div class="leaderboard__scroll"></div><div class="leaderboard__item leaderboard__item--first-place leaderboard__item--top"><div class="leaderboard__wrap"><span class="leaderboard__place"></span><div class="leaderboard__photo" src="#"></div></div><div class="leaderboard__block"><p class="leaderboard__name">Имя Фамилия</p><div class="leaderboard__case"><span class="leaderboard__car-icon"></span><span class="leaderboard__car">Ниссан Максима</span></div></div><div class="leaderboard__block"><span class="leaderboard__distance">2,8 км</span><span class="leaderboard__time-diff">-00.15</span></div></div><div class="leaderboard__item leaderboard__item--second-place leaderboard__item--top"><div class="leaderboard__wrap"><span class="leaderboard__place"></span><div class="leaderboard__photo" src="#"></div></div><div class="leaderboard__block"><p class="leaderboard__name">Имя Фамилия</p><div class="leaderboard__case"><span class="leaderboard__car-icon"></span><span class="leaderboard__car">Ниссан Максима</span></div></div><div class="leaderboard__block"><span class="leaderboard__distance">2,8 км</span><span class="leaderboard__time-diff">-00.15</span></div></div><div class="leaderboard__item leaderboard__item--third-place leaderboard__item--top"><div class="leaderboard__wrap"><span class="leaderboard__place"></span><div class="leaderboard__photo" src="#"></div></div><div class="leaderboard__block"><p class="leaderboard__name">Имя Фамилия</p><div class="leaderboard__case"><span class="leaderboard__car-icon"></span><span class="leaderboard__car">Ниссан Максима</span></div></div><div class="leaderboard__block"><span class="leaderboard__distance">2,8 км</span><span class="leaderboard__time-diff">-00.15</span></div></div><div class="leaderboard__item"><div class="leaderboard__wrap"><span class="leaderboard__place">1</span><div class="leaderboard__photo" src="#"></div></div><div class="leaderboard__block"><p class="leaderboard__name">Имя Фамилия</p><div class="leaderboard__case"><span class="leaderboard__car-icon"></span><span class="leaderboard__car">Ниссан Максима</span></div></div><div class="leaderboard__block"><span class="leaderboard__distance">2,8 км</span><span class="leaderboard__time-diff">-00.15</span></div></div></div></div><div class="leaderboard__map-container"><div class="leaderboard__map"><div id="race-map" style="width: 100%; height: 100%;position: absolute;"></div><div class="leaderboard__drivers drivers"><div class="drivers__driver"><div class="drivers__img"></div><div class="drivers__block"><span class="drivers__place">1</span><span class="drivers__distance">4,3 км</span></div></div></div><div class="leaderboard__container leaderboard__container--finished"><div class="leaderboard__box"><span class="leaderboard__participants"><span class="leaderboard__finished-participants">0</span><span class="leaderboard__not-finished">/8</span></span><span class="leaderboard__text">Финишировали</span></div><img class="leaderboard__finish-icon" src="../assets/imgs/icon-finish.png" srcset="../assets/imgs/icon-finish@2x.png 2x ../assets/imgs/icon-finish@3x.png 3x"/></div><div class="leaderboard__container leaderboard__container--timer"><div class="leaderboard__box"><span class="leaderboard__timer">13:41</span><span class="leaderboard__text">Время гонки</span></div><img class="leaderboard__timer-icon" src="../assets/imgs/icon-clock.png" srcset="../assets/imgs/icon-clock@2x.png 2x ../assets/imgs/icon-clock@3x.png 3x"/></div><img class="drivers__finish-point" src="../assets/imgs/finish-point.png" srcset="../assets/imgs/finish-point@2x.png 2x, ../assets/imgs/finish-point@3x.png 3x"/></div><div class="leaderboard__popup"><div class="leaderboard__envelope"><div class="leaderboard__item"><div class="leaderboard__wrap"><span class="leaderboard__place">1</span><div class="leaderboard__photo" src="#"></div></div><div class="leaderboard__block"><p class="leaderboard__name">Имя Фамилия</p><div class="leaderboard__box"><span class="leaderboard__car-icon"></span><span class="leaderboard__car">Ниссан Максима</span></div></div><div class="leaderboard__block"><span class="leaderboard__distance">2,8 км</span><span class="leaderboard__time-diff">-00.15</span></div></div></div><div class="leaderboard__race-controls race-controls"><div class="race-controls__wrapper"><ul class="race-controls__list"><li class="race-controls__item">-15</li><li class="race-controls__item">-10</li><li class="race-controls__item">-5</li><li class="race-controls__item">+5</li><li class="race-controls__item">+10</li><li class="race-controls__item">+15</li></ul><div class="race-controls__block"><div class="race-controls__range"></div><button class="race-controls__range-button"><span class="race-controls__icon-button race-controls__icon-button--left"></span><span class="race-controls__icon-button race-controls__icon-button--right"></span></button></div></div><button class="button button_gr race-controls__button">Ускорить на 10 минут</button></div></div></div></section></div><div v-if="race_step==5"><div class="race__final-leaderboard final-leaderboard"><div class="final-leaderboard__wrapper"><img class="final-leaderboard__img" src="../assets/imgs/icon-car.svg"/><p class="final-leaderboard__text">Гонка завершена!</p></div><div class="final-leaderboard__participant">Тут будет табличка с финалистами</div></div></div></section></script>

dev/pug/vue/pages/admin/admin-race.vue.pug
script(type="text/x-template"  id="template-admin-race")
	section.race
		.race__form.form-create(
			v-if="race_step==0"
		)
			h2.form-create__title Создание гонки
			ul.form-create__list
				li.form-create__item
					div.form-create__block
						label.form-create__label(for="race-date") Дата гонки
						vue-calendar(type="input")
						//- input.form-create__input#race-date(placeholder="8 марта 2019")
					p.form-create__text
				li.form-create__item
					div.form-create__block
						vue-select(
							v-model="race_start_time"
							:options="race_start_time_options"
							value="race_start_time"
						) Время старта
					p.form-create__text
				li.form-create__item
					div.form-create__block
						vue-input(value="", 
							type="input", 
							name="footer_link_vkontakte" , placeholder="10 минут") Время на выбор точки финиша
					p.form-create__text Точку финиша можно выбрать с #[span.form-create__finish-from 17:50] до #[span.form-create__finish-to 18:00]
				li.form-create__item
					div.form-create__block
						vue-input(value="", 
							type="input", 
							name="footer_link_vkontakte" , placeholder="10 минут") Время на подтверждение
					p.form-create__text Участники подтверждают участие с #[span.form-create__accept-from 17:40] до #[span.form-create__accept-to 17:50]
			h2.form-create__title Контроль проведения
			ul.form-create__list
				li.form-create__item
					div.form-create__block
						vue-input(value="", 
							type="input", 
							name="footer_link_vkontakte" , placeholder="+79999999999") Номер человека на финише
					p.form-create__text На этот телефон в SMS придет пароль от панели управления финишем в момент старта гонки
			
			.form-create__list(style="margin-bottom: 20px")
				vue-button(v-bind:gradient="true", @click.native="createRace") Объявить гонку

		//- Сам шаг гонки
		div(
			v-if="race_step==1 || race_step==2 || race_step==3"
		)
			div.race__wrapper
				div.race__map
					#race-map(style="width: 100%; height: 100%;position: absolute;")
					button.button.race__button.race__button--back(
						@click="goDahboardScreen"
					) Назад к компаниям
					div(
						v-if="race_step==3"
					)
						button.button.button_gr.race__button.race__button--set-finish(
							v-if="point_finish_step==0"
							@click="setFinish"
						) Установите точку финиша
						button.button.button_gr.race__button.race__button--finish(
							v-if="point_finish_step==1"
							@click="setFinish"
						) Финиш будет тут
						button.button.race__button.race__button--change-finish(
							v-if="point_finish_step==2"
							@click="setFinish"
						) Изменить точку финиша

					// Переход в полноэкранный режим
					button.button.race__button.race__button--fullscreen(
						v-if="race_step==3 && point_finish_step==2"
						@click="goRaceScreen"
					) В полноэкранный режим
					//- img.race__finish-point(src="../assets/imgs/finish-point.png" srcset="../assets/imgs/finish-point@2x.png 2x, ../assets/imgs/finish-point@3x.png 3x")

			section.race__progress-bar.progress-bar
				div.progress-bar__block.progress-bar__block--complete
					div.progress-bar__success
					h2.progress-bar__title Гонка объявлена
					span.progress-bar__date 1 марта 13:04
				div.progress-bar__block(
					:class="{ 'progress-bar__block--complete' : (race_step==2 || race_step==3) }"
				)
					div.progress-bar__success
					h2.progress-bar__title Подтверждение участников
					span.progress-bar__date 8 марта 17:40
				div.progress-bar__block(
					:class="{ 'progress-bar__block--complete' : race_step==3 }"
				)
					div.progress-bar__success
					h2.progress-bar__title Указана точка финиша
					span.progress-bar__date 8 марта 17:50
				div.progress-bar__block
					div.progress-bar__success
					h2.progress-bar__title Старт
					span.progress-bar__date 8 марта 18:00
			div.race__timer-block(
				v-if="race_step!=1"
			)
				span.race__participants
				div.race__timer-wrapper
					p.race__text(
						v-if="race_step==2"
					) До конца подтверждения
					p.race__text(
						v-if="race_step==3"
					) До старта участников
					span.race__timer 7:31
			div(
				v-if="race_step==1"
			)
				div.race__request-block(style="margin-bottom: 40px")
					span.race__request Заявки на участие в РК
				div.table_race
					//- vue-table
				div.race__request-block(style="margin-bottom: 40px")
					span.race__request Заявки на оклейку
				div.table_race
					//- vue-table
				div.race__request-block(style="margin-bottom: 40px")
					span.race__request Принятые заявки
				div.table_race
					//- vue-table

			div(
				v-if="race_step!=1"
			)
				div.race__request-block(style="margin-bottom: 40px")
					span.race__request Участники
				div.table_race
					//- vue-table

			div.table_race
				//- vue-table
		// -----------------------------------------------------
		//- Сам шаг гонки
		div(
			v-if="race_step==4"
		)
			section.race__leaderboard.leaderboard
				div.leaderboard__wrapper
					img.leaderboard__img(src="../assets/imgs/icon-car.svg")
					p.leaderboard__title Лидеры гонки
					div.leaderboard__shadow
					div.leaderboard__list
						div.leaderboard__scroll
						div.leaderboard__item.leaderboard__item--first-place.leaderboard__item--top
							div.leaderboard__wrap
								span.leaderboard__place
								div.leaderboard__photo(src="#")
							div.leaderboard__block
								p.leaderboard__name Имя Фамилия
								div.leaderboard__case
									span.leaderboard__car-icon
									span.leaderboard__car Ниссан Максима
							div.leaderboard__block
								span.leaderboard__distance 2,8 км
								span.leaderboard__time-diff -00.15
						div.leaderboard__item.leaderboard__item--second-place.leaderboard__item--top
							div.leaderboard__wrap
								span.leaderboard__place
								div.leaderboard__photo(src="#")
							div.leaderboard__block
								p.leaderboard__name Имя Фамилия
								div.leaderboard__case
									span.leaderboard__car-icon
									span.leaderboard__car Ниссан Максима
							div.leaderboard__block
								span.leaderboard__distance 2,8 км
								span.leaderboard__time-diff -00.15
						div.leaderboard__item.leaderboard__item--third-place.leaderboard__item--top
							div.leaderboard__wrap
								span.leaderboard__place
								div.leaderboard__photo(src="#")
							div.leaderboard__block
								p.leaderboard__name Имя Фамилия
								div.leaderboard__case
									span.leaderboard__car-icon
									span.leaderboard__car Ниссан Максима
							div.leaderboard__block
								span.leaderboard__distance 2,8 км
								span.leaderboard__time-diff -00.15
						div.leaderboard__item
							div.leaderboard__wrap
								span.leaderboard__place 1
								div.leaderboard__photo(src="#")
							div.leaderboard__block
								p.leaderboard__name Имя Фамилия
								div.leaderboard__case
									span.leaderboard__car-icon
									span.leaderboard__car Ниссан Максима
							div.leaderboard__block
								span.leaderboard__distance 2,8 км
								span.leaderboard__time-diff -00.15

				div.leaderboard__map-container
					div.leaderboard__map
						#race-map(style="width: 100%; height: 100%;position: absolute;")
						div.leaderboard__drivers.drivers
							div.drivers__driver
								div.drivers__img
								div.drivers__block
									span.drivers__place 1
									span.drivers__distance 4,3 км
						div.leaderboard__container.leaderboard__container--finished
							div.leaderboard__box
								span.leaderboard__participants
									span.leaderboard__finished-participants 0
									span.leaderboard__not-finished /8
								span.leaderboard__text Финишировали
							img.leaderboard__finish-icon(src="../assets/imgs/icon-finish.png" srcset="../assets/imgs/icon-finish@2x.png 2x ../assets/imgs/icon-finish@3x.png 3x")
						div.leaderboard__container.leaderboard__container--timer
							div.leaderboard__box
								span.leaderboard__timer 13:41
								span.leaderboard__text Время гонки
							img.leaderboard__timer-icon(src="../assets/imgs/icon-clock.png" srcset="../assets/imgs/icon-clock@2x.png 2x ../assets/imgs/icon-clock@3x.png 3x")
						img.drivers__finish-point(src="../assets/imgs/finish-point.png" srcset="../assets/imgs/finish-point@2x.png 2x, ../assets/imgs/finish-point@3x.png 3x")
					div.leaderboard__popup
						div.leaderboard__envelope
							div.leaderboard__item
								div.leaderboard__wrap
									span.leaderboard__place 1
									div.leaderboard__photo(src="#")
								div.leaderboard__block
									p.leaderboard__name Имя Фамилия
									div.leaderboard__box
										span.leaderboard__car-icon
										span.leaderboard__car Ниссан Максима
								div.leaderboard__block
									span.leaderboard__distance 2,8 км
									span.leaderboard__time-diff -00.15
						div.leaderboard__race-controls.race-controls
							div.race-controls__wrapper
								ul.race-controls__list
									li.race-controls__item -15
									li.race-controls__item -10
									li.race-controls__item -5
									li.race-controls__item +5
									li.race-controls__item +10
									li.race-controls__item +15
								div.race-controls__block
									div.race-controls__range
									button.race-controls__range-button
										span.race-controls__icon-button.race-controls__icon-button--left
										span.race-controls__icon-button.race-controls__icon-button--right
							button.button.button_gr.race-controls__button Ускорить на 10 минут

		//- Сам шаг гонки
		div(
			v-if="race_step==5"
		)
			div.race__final-leaderboard.final-leaderboard
				div.final-leaderboard__wrapper
					img.final-leaderboard__img(src="../assets/imgs/icon-car.svg")
					p.final-leaderboard__text Гонка завершена!
				div.final-leaderboard__participant Тут будет табличка с финалистами
