pub/vue/pages/admin/admin-blacklist.vue.html
<script type="text/x-template" id="template-admin-blacklist"><section class="companies blacklist"><div class="loading" v-bind:class="{'hide' : !loading}"><div id="loader"> </div></div><div class="companies-head"><!-- табы - кнопки для масоовыз выборок и ид--><vue-admin-tabs :drivers_type_active="drivers_type_active" :drivers_count="drivers_count"></vue-admin-tabs></div><!-- таблица. В нее прокидываем тамии поля таблицы--><!-- коилчетов всео--><!-- тип для выбобрки--><div class="companies-table"><vue-table :table="table_row_items" :drivers_count="drivers_count" :drivers_type_active="drivers_type_active"></vue-table></div></section></script>

dev/pug/vue/pages/admin/admin-blacklist.vue.pug
script(type="text/x-template"  id="template-admin-blacklist")
	section.companies.blacklist
		.loading(v-bind:class="{'hide' : !loading}")
			#loader 
		.companies-head
			// табы - кнопки для масоовыз выборок и ид
			vue-admin-tabs(
				:drivers_type_active="drivers_type_active"
				:drivers_count="drivers_count", 
			)
		// таблица. В нее прокидываем тамии поля таблицы
		// коилчетов всео
		// тип для выбобрки
		.companies-table
			vue-table(
				:table="table_row_items",
				:drivers_count="drivers_count", 
				:drivers_type_active="drivers_type_active"
			)
