pub/vue/pages/admin/admin-history.vue.html
<script type="text/x-template" id="template-admin-history"><section class="history history_empty"><div class="loading" v-bind:class="{'hide' : !loading}"><div id="loader"> </div></div><div class="wrap"><div class="history-head"><h1 class="history-head__title">Фильтровать <br>по параметрам:</h1><div class="history-head__select"><vue-select style="opacity: 0.4; cursor: default !important">Рекламная кампания</vue-select></div><div class="history-head__select"><vue-select style="opacity: 0.4; cursor: default !important">Город</vue-select></div></div><div class="history-body notify-popup"><div class="history-list" @scroll="onScoroller"><div><div class="vue-each" v-if="history_data" v-for="history in history_data"><!-- айтемы нотификации--><vue-admin-notify-popup-item :item_history="history"></vue-admin-notify-popup-item></div></div></div></div></div></section></script>

dev/pug/vue/pages/admin/admin-history.vue.pug
script(type="text/x-template"  id="template-admin-history")
	section.history.history_empty
		.loading(
			v-bind:class="{'hide' : !loading}"
		)
			#loader 
		.wrap
			.history-head(
			)
				h1.history-head__title Фильтровать <br>по параметрам:
				.history-head__select
					vue-select(
						style="opacity: 0.4; cursor: default !important"
					) Рекламная кампания
				.history-head__select
					vue-select(
						style="opacity: 0.4; cursor: default !important"
					) Город
				//- .history-head__button(
				//- 	style="display: none"
				//- )
				//- 	vue-button-add

			.history-body.notify-popup

				.history-list(
					@scroll="onScoroller"
				)
					div
						.vue-each(
							v-if="history_data"
							v-for="history in history_data"
						)
							// айтемы нотификации
							vue-admin-notify-popup-item(
								:item_history="history"
							)
