dev/pug/vue/pages/admin/admin-video.vue.pug
script(type="text/x-template"  id="template-admin-video")
	.auto
		.video-map
		.auto-head
			.wrap
				.auto-top
					.auto-top__wrap
						.auto-top-label
							.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
							.auto-top-label__wrap
								h2.auto-top-label__title Macdonalds Boom Shakalaka
								p.auto-top-label__text с 08 февраля по 8 марта 2017

				.auto-info
				
					.auto-info__wrap.video-info__wrap
						.auto-info-item
							p.auto-info-item__text VTR
							span.auto-info-item__number 24%
						.auto-info-item
							p.auto-info-item__text Reach
							span.auto-info-item__number 60
						.auto-info-item
							p.auto-info-item__text Incremental reach
							span.auto-info-item__number 20
						.auto-info-item
							p.auto-info-item__text Показатель отказа
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text CTR
							span.auto-info-item__number 4.4%
					.auto-top-buttons
						.auto-top__button
							vue-button(v-bind:gradient="true") Скачать все фото
						.auto-top-button
							img(src="assets/imgs/icon-load.svg")
							p pdf

				.audio-bottom
					.audio__wrap.video__wrap
						.audio__left
							.chat-actions
								.chat-actions__item Услышали рекламу (70)
								.chat-actions__item Нажали на точку (42)
								.chat-actions__item Построили маршрут (19)
								.chat-actions__item Построили маршрут (19)
						.video-options
							.video-options__item
								span 1874
								img(src="assets/imgs/icon-views.svg")
							.video-options__item
								span 246
								img(src="assets/imgs/icon-share.svg")
						

		.auto-body
			vue-table(:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]')

pub/vue/pages/admin/admin-video.vue.html
<script type="text/x-template" id="template-admin-video"><div class="auto"><div class="video-map"></div><div class="auto-head"><div class="wrap"><div class="auto-top"><div class="auto-top__wrap"><div class="auto-top-label"><div class="auto-top-label__image" style="background-image: url('assets/imgs/car.jpg');"></div><div class="auto-top-label__wrap"><h2 class="auto-top-label__title">Macdonalds Boom Shakalaka</h2><p class="auto-top-label__text">с 08 февраля по 8 марта 2017</p></div></div></div></div><div class="auto-info"><div class="auto-info__wrap video-info__wrap"><div class="auto-info-item"><p class="auto-info-item__text">VTR</p><span class="auto-info-item__number">24%</span></div><div class="auto-info-item"><p class="auto-info-item__text">Reach</p><span class="auto-info-item__number">60</span></div><div class="auto-info-item"><p class="auto-info-item__text">Incremental reach</p><span class="auto-info-item__number">20</span></div><div class="auto-info-item"><p class="auto-info-item__text">Показатель отказа</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">CTR</p><span class="auto-info-item__number">4.4%</span></div></div><div class="auto-top-buttons"><div class="auto-top__button"><vue-button v-bind:gradient="true">Скачать все фото</vue-button></div><div class="auto-top-button"><img src="assets/imgs/icon-load.svg"/><p>pdf</p></div></div></div><div class="audio-bottom"><div class="audio__wrap video__wrap"><div class="audio__left"><div class="chat-actions"><div class="chat-actions__item">Услышали рекламу (70)</div><div class="chat-actions__item">Нажали на точку (42)</div><div class="chat-actions__item">Построили маршрут (19)</div><div class="chat-actions__item">Построили маршрут (19)</div></div></div><div class="video-options"><div class="video-options__item"><span>1874</span><img src="assets/imgs/icon-views.svg"/></div><div class="video-options__item"><span>246</span><img src="assets/imgs/icon-share.svg"/></div></div></div></div></div></div><div class="auto-body"><vue-table :data="[{&quot;id&quot;:1,&quot;auto&quot;:&quot;1auto&quot;,&quot;gid&quot;:&quot;7gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;1km&quot;,&quot;date&quot;:&quot;1date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:2,&quot;auto&quot;:&quot;3auto&quot;,&quot;gid&quot;:&quot;4gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;4date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:3,&quot;auto&quot;:&quot;6a2uto&quot;,&quot;gid&quot;:&quot;9gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;2date&quot;,&quot;driver&quot;:&quot;1driver&quot;}]"></vue-table></div></div></script>
