dev/pug/vue/pages/admin/admin-settings.vue.pug
//- template-admin-setting
//- настройки для админки
script(type="text/x-template"  id="template-admin-settings")
    form.settings(@submit.prevent="save", autocomplete="off")
        .loading(v-bind:class="{'hide' : !loading}")
            #loader 
        .settings-block
            .wrap
                h2 Настройки
                .settings-string
                   
                    .settings-select
                        vue-select(
                            v-model="day_tariff_start"
                            :options="day_tariff_start_options"
                            value="day_tariff_start"
                        ) Начало дневного тарифа
                    
                    .settings-select
                        vue-select(
                            v-model="night_tariff_start"
                            :options="night_tariff_start_options"
                            value="night_tariff_start"
                        ) Начало ночного тарифа
                .settings-string
                    
                    .settings-select
                        vue-select(
                            v-model="day_tariff_points_per_km"
                            :options="day_tariff_points_per_km_options"
                            value="day_tariff_points_per_km"
                        )  Дневной тариф
                        p.settings-select__text баллов за километр
                    
                    .settings-select
                        vue-select(
                            v-model="night_tariff_points_per_km"
                            :options="night_tariff_points_per_km_options"
                            value="night_tariff_points_per_km"
                        ) Ночной тариф
                        p.settings-select__text баллов за километр
        .settings-block
            .wrap
                h2 Ссылки в подвале
                
                .settings-string
                    vue-input(value="", 
                        type="input", 
                        
                        v-model="footer_link_vkontakte"
                        :classname='{ "error" : !isSocialValidvk }', 
                        name="footer_link_vkontakte" , placeholder="ВК") ВК 
                .settings-string
                    vue-input(value="", type="input",  v-model="footer_link_instagram"
                        :classname='{ "error" : !isSocialValidinst }', 
                        name="footer_link_instagram" ,  placeholder="Instagram") Instagram
                .settings-string
                    vue-input(value="", type="input",  v-model="footer_link_facebook"
                        :classname='{ "error" : !isSocialValidfb }', 
                        name="footer_link_facebook" , placeholder="Facebook") Facebook
                
                .settings-string
                    vue-input(value="", 
                        type="email", 
                        v-model="footer_link_email_support"
                        :classname='{ "error" : !isEmailValidSup }', 
                        name="footer_link_email_support" , 
                        placeholder="Почта поддержки") Почта поддержки
        .settings-block
            .wrap
                h2 Вход в админку
                
                .settings-string
                    vue-input(value="", 
                        type="input",  
                        v-model="account_login",
                        :classname='{ "error" : !isLoginValid }', 
                        name="account_login",  placeholder="Логин") Логин
               
                .settings-string
                    vue-input(value="", 
                        type="password",  
                        v-model="account_password",
                        :classname='{ "error" : !isPasswordValid }', 
                        name="account_password", 
                        placeholder="Пароль") Пароль
               
                .settings-string
                    vue-input(value="", 
                        type="email", 
                        :classname='{ "error" : !isEmailValid }', 
                        v-model="account_email",
                        name="account_email",  
                        placeholder="Почта") Почта

        //- здесь могли быть ваши последние 10 заходов...
        
        .settings-button
            .wrap.settings-button__wrap
                vue-button(v-bind:gradient="true", :disabled="(!(isPasswordValid &&  isSocialValidvk && isSocialValidfb && isSocialValidinst && isEmailValid && isLoginValid && isEmailValidSup ))") Сохранить

pub/vue/pages/admin/admin-settings.vue.html
<script type="text/x-template" id="template-admin-settings"><form class="settings" @submit.prevent="save" autocomplete="off"><div class="loading" v-bind:class="{'hide' : !loading}"><div id="loader"> </div></div><div class="settings-block"><div class="wrap"><h2>Настройки</h2><div class="settings-string"><div class="settings-select"><vue-select v-model="day_tariff_start" :options="day_tariff_start_options" value="day_tariff_start">Начало дневного тарифа</vue-select></div><div class="settings-select"><vue-select v-model="night_tariff_start" :options="night_tariff_start_options" value="night_tariff_start">Начало ночного тарифа</vue-select></div></div><div class="settings-string"><div class="settings-select"><vue-select v-model="day_tariff_points_per_km" :options="day_tariff_points_per_km_options" value="day_tariff_points_per_km"> Дневной тариф</vue-select><p class="settings-select__text">баллов за километр</p></div><div class="settings-select"><vue-select v-model="night_tariff_points_per_km" :options="night_tariff_points_per_km_options" value="night_tariff_points_per_km">Ночной тариф</vue-select><p class="settings-select__text">баллов за километр</p></div></div></div></div><div class="settings-block"><div class="wrap"><h2>Ссылки в подвале</h2><div class="settings-string"><vue-input value="" type="input" v-model="footer_link_vkontakte" :classname="{ &quot;error&quot; : !isSocialValidvk }" name="footer_link_vkontakte" placeholder="ВК">ВК </vue-input></div><div class="settings-string"><vue-input value="" type="input" v-model="footer_link_instagram" :classname="{ &quot;error&quot; : !isSocialValidinst }" name="footer_link_instagram" placeholder="Instagram">Instagram</vue-input></div><div class="settings-string"><vue-input value="" type="input" v-model="footer_link_facebook" :classname="{ &quot;error&quot; : !isSocialValidfb }" name="footer_link_facebook" placeholder="Facebook">Facebook</vue-input></div><div class="settings-string"><vue-input value="" type="email" v-model="footer_link_email_support" :classname="{ &quot;error&quot; : !isEmailValidSup }" name="footer_link_email_support" placeholder="Почта поддержки">Почта поддержки</vue-input></div></div></div><div class="settings-block"><div class="wrap"><h2>Вход в админку</h2><div class="settings-string"><vue-input value="" type="input" v-model="account_login" :classname="{ &quot;error&quot; : !isLoginValid }" name="account_login" placeholder="Логин">Логин</vue-input></div><div class="settings-string"><vue-input value="" type="password" v-model="account_password" :classname="{ &quot;error&quot; : !isPasswordValid }" name="account_password" placeholder="Пароль">Пароль</vue-input></div><div class="settings-string"><vue-input value="" type="email" :classname="{ &quot;error&quot; : !isEmailValid }" v-model="account_email" name="account_email" placeholder="Почта">Почта</vue-input></div></div></div><div class="settings-button"><div class="wrap settings-button__wrap"><vue-button v-bind:gradient="true" :disabled="(!(isPasswordValid &amp;&amp;  isSocialValidvk &amp;&amp; isSocialValidfb &amp;&amp; isSocialValidinst &amp;&amp; isEmailValid &amp;&amp; isLoginValid &amp;&amp; isEmailValidSup ))">Сохранить</vue-button></div></div></form></script>
