pub/vue/pages/admin/admin-chat.vue.html
<script type="text/x-template" id="template-admin-chat-driver"><div class="chat-users-item" :class="{'active': is_active, 'noread': unread_messages_list }" @click="driver_chat_ctrl_flex(driver_item)"><div class="chat-users-item__avatar" v-if=" driver_item.driver &amp;&amp; driver_item.driver.photo " :style="{ backgroundImage: 'url(' + (driver_item.driver.photo ) + ')' }"></div><div class="chat-users-item__wrap" :data-datetime="dateTime" :style="{ 'width': !driver_item.driver ? 'calc(100% - 15px)' : ''}"><p class="chat-users-item__name" v-if="driver_item.driver">{{ [driver_item.driver.first_name, driver_item.driver.last_name].join(' ')}}
<span style="font-weight: bold" v-if="unread_messages_list">{{unread_messages_list }}</span></p><p class="chat-users-item__name" v-if="!driver_item.driver" style=" max-width: 100%;">Пользователь # {{driver_item.user.id}} <span style="font-weight: bold" v-if="unread_messages_list">{{ unread_messages_list }}</span></p><p class="chat-users-item__text" v-if="driver_item.message &amp;&amp; driver_item.message.type=='message'">{{ last_message && last_message.text }}</p><p class="chat-users-item__text" v-if="driver_item.message &amp;&amp; driver_item.message.type=='attachment'">Вложение</p><p class="chat-users-item__text" v-if="driver_item.message &amp;&amp; (driver_item.message.type=='verification' || driver_item.message.type=='verification_replica')">Верификация</p><p class="chat-users-item__text" v-if="driver_item.message &amp;&amp; driver_item.message.type=='withdraw'">Запрос вывода средств</p><p class="chat-users-item__text" v-if="!driver_item.message">Сообщений пока нет</p></div></div></script><!-- Наша Россия--><!-- @props driver_selected - выделеный--><!-- @props get_date_format_fn - метод для формата даты--><!-- @props current_messages_list - список сообщний для водителя--><script type="text/x-template" id="template-admin-chat-driver-messages-list"><div class="chat-driver-messages-list"><div class="vue-each" v-if="driver_messages_list &amp;&amp; driver_selected" v-for="driver_message in driver_messages_list"><vue-admin-chat-message :driver_message="driver_message" :driver_selected="driver_selected" :get_date_format_fn="get_date_format_fn"></vue-admin-chat-message></div></div></script><script type="text/x-template" id="template-admin-chat-message"><div class="chat-message" :class="classesStatus"><div class="chat-message__flexhelper"></div><div class="chat-message__wrap attachment" v-if="driver_message &amp;&amp; driver_message.type=='attachment'"><p class="chat-message__date">{{ get_date_format_fn(driver_message.created_at) }}</p><div class="chat-message__container"><div class="chat-message__indicator"><span></span><b @click="resendMessage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="50px" height="50px"><g><path d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z "></path></g></svg></b></div><a class="chat-message__attachment" :href="driver_message.data.attachment" target="_blank" alt="Вложение"><img :src="driver_message.data.attachment"/></a><a class="chat-message__button" href="#" v-if="driver_message.parameters &amp;&amp; driver_message.parameters.verification.photo.status=='pending'" @click="openVerificationMessage(driver_message.parameters.verification.id)">Обработать запрос

</a></div></div><div class="chat-message__wrap" v-if="driver_message&amp;&amp;driver_message.data&amp;&amp;driver_message.type=='message'"><p class="chat-message__date">{{ get_date_format_fn( driver_message.created_at) }}</p><div class="chat-message__container text" :attr="driver_message.type" v-if="driver_message&amp;&amp;(driver_message.type=='message')"><div class="chat-message__indicator"><span></span><b @click="resendMessage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="50px" height="50px"><g><path d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z "></path></g></svg></b></div><p class="chat-message__text">{{driver_message.data.text}}</p></div></div><div class="chat-message__wrap" v-if="driver_message&amp;&amp;(driver_message.type=='verification' || driver_message.type=='verification_replica')" @click="openVerificationMessage"><div style="display: none">{{driver_message.data.verification ? driver_message.data.verification.expires_in : ''}}</div><div style="display: none">{{driver_message.data.verification ? driver_message.data.verification.status : ''}}</div><p class="chat-message__date">{{ get_date_format_fn(driver_message.created_at) }}</p><div class="chat-message__container"><div class="chat-message__indicator"><span></span><b @click="resendMessage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="50px" height="50px"><g><path d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z "></path></g></svg></b></div><p class="chat-message__text">{{driver_message.data.text}}</p></div><div class="chat-message__container request"><div class="chat-message__indicator"><span></span></div><p class="chat-message__label">Запрос фотографии</p><p class="chat-message__timer">{{textTimer}}</p></div></div><div class="chat-message__wrap" v-if="driver_message&amp;&amp;driver_message.type=='withdraw'" @click="openVerificationMessage"><p class="chat-message__date">{{ get_date_format_fn(driver_message.created_at) }}</p><div class="chat-message__container chat-message__wrap request" :style="{'cursor': driver_message &amp;&amp; driver_message.data.withdraw.status=='payed' ? 'default':'pointer' }"><div class="chat-message__indicator"><span></span></div><p class="chat-message__label">Запрос на вывод средств</p><p class="chat-message__cash">{{ driver_message.data.withdraw.sum }}</p><p class="chat-message__card">{{ driver_message.data.withdraw.card_number }}</p><div class="chat-message__button" v-if="driver_message.data.withdraw.status!='payed'" @click="withdrawCashTrue">Деньги переведены</div></div></div></div></script><script type="text/x-template" id="template-admin-chat"><section class="chat"><div class="loading" :class="{'hide' : !loading}"><div id="loader"></div></div><div class="wrap"><div class="chat-wrap"><div class="chat-users"><div class="chat__empty" v-if="!driverList || !(driverList &amp;&amp; driverList.length)">Здесь будут отображаться ваши собеседники</div><div class="vue-each" v-if="driverList &amp;&amp; (driverList &amp;&amp; driverList.length)" v-for="driver_item in driverList"><vue-admin-chat-driver :driver_item="driver_item" :is_active="isDriverActive(driver_item)" :driver_chat_ctrl_flex="driverChatController" :last_message="driver_item.message&amp;&amp;driver_item.message.data" :driver_name="driverList[driver_item.user.id]" :unread_messages_list="unread_messages_list[driver_item.user.id]"></vue-admin-chat-driver></div></div><div class="chat-window"><div class="chat-header"><div class="chat-header-left" v-if="driver_selected &amp;&amp;driver_selected.user"><span class="chat-header-left__number">{{driver_selected.auto.number}}</span><p class="chat-header-left__date">Зарегистрирован с <span>{{ getFormatDateTime(driver_selected.user.created_at) }}</span></p></div><div class="chat-header-middle" v-if="driver_selected"><div class="chat-header-middle"><span class="chat-header-middle__car">{{driver_selected.auto.mark.name}} {{driver_selected.auto.model.name}} </span><p class="chat-header-middle__desc">{{driver_selected.auto.series.name}}, {{driver_selected.auto.year}}</p></div></div><div class="chat-header-right" v-if="driver_selected"><a class="chat-header-block" href="#" @click="bunDriver(driver_selected)">{{!driver_selected.user.blocked ? 'Заблокировать' : 'Разблокировать'}} водителя							</a></div></div><div class="chat-body" v-if="!driver_selected"><div class="chat__empty">Сообщений пока нет, выберите водителя.</div></div><div class="chat-body" v-if="driver_selected&amp;&amp; driver_selected.user" @scroll="onScrollChatList"><div class="chat__empty" v-if="!driver_selected.driver || !current_messages_list || !current_messages_list.length"><p>Здесь будет выводиться история переписки&nbsp;с&nbsp;водителем {{driver_selected.driver && (' &ndash; ' + [driver_selected.driver.first_name, driver_selected.driver.last_name].join(' '))}}</p></div><vue-admin-chat-driver-messages-list v-if="driver_selected.driver &amp;&amp; current_messages_list" :driver_selected="driver_selected" :get_date_format_fn="getFormatDateTime" :driver_messages_list="current_messages_list"></vue-admin-chat-driver-messages-list></div><div class="chat-footer"><div class="chat-actions"><div class="chat-actions__item" :class="!driver_selected &amp;&amp; classDisabled || classDisabledVerification" @click="driver_selected  &amp;&amp; sendMessageRequest()">Запросить фото</div><div class="chat-actions__item" :class="!driver_selected &amp;&amp; classDisabled" @click="driver_selected  &amp;&amp; !classDisabled &amp;&amp; downloadAllDriverPhotos()">Скачать все фото</div><div class="chat-actions__item" :class="!driver_selected &amp;&amp; classDisabled"><span>Отправить фото</span><input id="chat-file" type="file" accept="image/*" @change="driver_selected  &amp;&amp; !classDisabled &amp;&amp; sendMessageAttachment(this)"/></div></div><div class="chat-enter"><input class="chat-enter__input" type="text" :disabled="!driver_selected" v-model="textToDriver" placeholder="Сообщение" v-on:keyup.enter="driver_selected &amp;&amp; textToDriver &amp;&amp; sendMessageText()"/><input class="chat-enter__send" @click="driver_selected &amp;&amp; !classDisabled &amp;&amp; textToDriver &amp;&amp; sendMessageText()" :class="(!driver_selected || !textToDriver) &amp;&amp; classDisabled" :disabled="!driver_selected || !textToDriver" type="submit" value=""/></div></div></div></div></div></section></script>

dev/pug/vue/pages/admin/admin-chat.vue.pug
//- Список водителей
//- is_active - текущий актив
//- driver_chat_ctrl_flex - контроллер переключеня 
//- driver_item - водитель
//- driver_name - ФИО водителя
script(type="text/x-template"  id="template-admin-chat-driver")
	.chat-users-item(
		:class="{'active': is_active, 'noread': unread_messages_list }"
		@click="driver_chat_ctrl_flex(driver_item)"
	)
		.chat-users-item__avatar(
			v-if=" driver_item.driver && driver_item.driver.photo "
			:style="{ backgroundImage: 'url(' + (driver_item.driver.photo ) + ')' }"
		)

		.chat-users-item__wrap(
			:data-datetime="dateTime"
			:style="{ 'width': !driver_item.driver ? 'calc(100% - 15px)' : ''}"
		)
			p.chat-users-item__name(
				v-if="driver_item.driver"
			).
				{{ [driver_item.driver.first_name, driver_item.driver.last_name].join(' ')}}
				#[span(style="font-weight: bold", v-if="unread_messages_list") {{unread_messages_list }}]
			p.chat-users-item__name(
				v-if="!driver_item.driver"
				style=" max-width: 100%;"
			) Пользователь # {{driver_item.user.id}} #[span(style="font-weight: bold", v-if="unread_messages_list") {{ unread_messages_list }}]
			p.chat-users-item__text(
				v-if="driver_item.message && driver_item.message.type=='message'"
			) {{ last_message && last_message.text }}
			p.chat-users-item__text(
				v-if="driver_item.message && driver_item.message.type=='attachment'"
			) Вложение
			p.chat-users-item__text(
				v-if="driver_item.message && (driver_item.message.type=='verification' || driver_item.message.type=='verification_replica')"
			) Верификация
			p.chat-users-item__text(
				v-if="driver_item.message && driver_item.message.type=='withdraw'"
			) Запрос вывода средств
			p.chat-users-item__text(
				v-if="!driver_item.message"
			) Сообщений пока нет


// Наша Россия
// @props driver_selected - выделеный
// @props get_date_format_fn - метод для формата даты
// @props current_messages_list - список сообщний для водителя
script(type="text/x-template" 	id="template-admin-chat-driver-messages-list")
	.chat-driver-messages-list
		.vue-each(
			v-if="driver_messages_list && driver_selected"
			v-for="driver_message in driver_messages_list"
		)
			vue-admin-chat-message(
				:driver_message="driver_message"
				:driver_selected="driver_selected"
				:get_date_format_fn="get_date_format_fn"
			)




//- Одно сообщение
script(type="text/x-template" id="template-admin-chat-message")
	.chat-message(
		:class="classesStatus"
	)

		//- флекс хелпер
		.chat-message__flexhelper
		//- ФОТО-АТТАЧМЕНТ 
		.chat-message__wrap.attachment(
			v-if="driver_message && driver_message.type=='attachment'"
		)
			//- Дата для сообщения
			p.chat-message__date {{ get_date_format_fn(driver_message.created_at) }}
			//- контейнер для аттача
			.chat-message__container
				//- Индикатор прочтения сообщения
				.chat-message__indicator
					span
					b(
						@click="resendMessage"
					)
						svg(
							xmlns='http://www.w3.org/2000/svg', 
							xmlns:xlink='http://www.w3.org/1999/xlink', 
							viewBox='0 0 32 32', 
							version='1.1', 
							width='50px', 
							height='50px'
						)
							g
								path(
									d='M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z '
								)
				a.chat-message__attachment(
					:href="driver_message.data.attachment"
					target="_blank"
					alt="Вложение"
				)
					img(
						:src="driver_message.data.attachment"
					)
				a(href="#", v-if="driver_message.parameters && driver_message.parameters.verification.photo.status=='pending'", @click="openVerificationMessage(driver_message.parameters.verification.id)").chat-message__button.
					Обработать запрос


		//- ТЕКСТ 
		.chat-message__wrap(
			v-if="driver_message&&driver_message.data&&driver_message.type=='message'"
		)
			//- Дата для сообщения
			p.chat-message__date {{ get_date_format_fn( driver_message.created_at) }}
			//- контейнер основной для текст или реквеста
			.chat-message__container.text(
				:attr="driver_message.type"
				v-if="driver_message&&(driver_message.type=='message')"
			)
				//- индикатор не прочтеного
				.chat-message__indicator
					span
					b(
						@click="resendMessage"
					)
						svg(
							xmlns='http://www.w3.org/2000/svg', 
							xmlns:xlink='http://www.w3.org/1999/xlink', 
							viewBox='0 0 32 32', 
							version='1.1', 
							width='50px', 
							height='50px'
						)
							g
								path(
									d='M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z '
								)
				//- текст сообщения
				p.chat-message__text {{driver_message.data.text}}

		//- доп платфрма дяя реквеста, для вывода таймера
		.chat-message__wrap(
			v-if="driver_message&&(driver_message.type=='verification' || driver_message.type=='verification_replica')"
			@click="openVerificationMessage"
		)
			div(style="display: none") {{driver_message.data.verification ? driver_message.data.verification.expires_in : ''}}
			div(style="display: none") {{driver_message.data.verification ? driver_message.data.verification.status : ''}}
			//- Дата для сообщения
			p.chat-message__date {{ get_date_format_fn(driver_message.created_at) }}
			//- если толкьь реквест
			.chat-message__container
				//- индикатор не прочтеного
				.chat-message__indicator
					span
					b(
						@click="resendMessage"
					)
						svg(
							xmlns='http://www.w3.org/2000/svg', 
							xmlns:xlink='http://www.w3.org/1999/xlink', 
							viewBox='0 0 32 32', 
							version='1.1', 
							width='50px', 
							height='50px'
						)
							g
								path(
									d='M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z '
								)
				//- текст сообщения 
				p.chat-message__text {{driver_message.data.text}}
			.chat-message__container.request
				//- Запрос фотографии на 2 часа
				.chat-message__indicator
					span
				p.chat-message__label Запрос фотографии
				p.chat-message__timer {{textTimer}}


		.chat-message__wrap(
			v-if="driver_message&&driver_message.type=='withdraw'"
			@click="openVerificationMessage"
		)
			//- Дата для сообщения
			p.chat-message__date {{ get_date_format_fn(driver_message.created_at) }}

			.chat-message__container.chat-message__wrap.request(
				:style="{'cursor': driver_message && driver_message.data.withdraw.status=='payed' ? 'default':'pointer' }"
			)
				.chat-message__indicator
					span
				p.chat-message__label Запрос на вывод средств
				p.chat-message__cash {{ driver_message.data.withdraw.sum }}
				p.chat-message__card {{ driver_message.data.withdraw.card_number }}
				.chat-message__button(
					v-if="driver_message.data.withdraw.status!='payed'"
					@click="withdrawCashTrue"
				) Деньги переведены
				//- .chat-message__button(
				//- 	style="background: white; border: 1px solid #3023ae; color: #000;"
				//- 	v-if="driver_message.data.withdraw.status=='payed'"
				//- ) Завершено




//- Сам темплейнт чата
script(type="text/x-template"  id="template-admin-chat")
	section.chat
		.loading(
			:class="{'hide' : !loading}"
		) #[#loader]
		.wrap
			.chat-wrap
				.chat-users
					.chat__empty(
						v-if="!driverList || !(driverList && driverList.length)"
					) Здесь будут отображаться ваши собеседники

					.vue-each(
						v-if="driverList && (driverList && driverList.length)"
						v-for="driver_item in driverList"
					)
						//-  водитель
						//-  имя отчество водитетя
						//-  акстивный ли?
						//-  контроллер акстивный ли?
						//-  последняя сторока
						vue-admin-chat-driver(
							:driver_item="driver_item"
							:is_active="isDriverActive(driver_item)"
							:driver_chat_ctrl_flex="driverChatController"
							:last_message="driver_item.message&&driver_item.message.data"
							:driver_name="driverList[driver_item.user.id]"
							:unread_messages_list="unread_messages_list[driver_item.user.id]"
						)

				.chat-window
					//- Заголокочные моменты чата
					.chat-header
						.chat-header-left(
							v-if="driver_selected &&driver_selected.user"
						)
							span.chat-header-left__number {{driver_selected.auto.number}}
							p.chat-header-left__date Зарегистрирован с #[span {{ getFormatDateTime(driver_selected.user.created_at) }}]
						.chat-header-middle(
							v-if="driver_selected"
						)
							.chat-header-middle
								span.chat-header-middle__car {{driver_selected.auto.mark.name}} {{driver_selected.auto.model.name}} 
								p.chat-header-middle__desc {{driver_selected.auto.series.name}}, {{driver_selected.auto.year}}

						.chat-header-right(v-if="driver_selected")
							a.chat-header-block(
								href="#", 
								@click="bunDriver(driver_selected)"
							) {{!driver_selected.user.blocked ? 'Заблокировать' : 'Разблокировать'}} водителя							
				
					//- пустойе боди
					.chat-body(v-if="!driver_selected")
						.chat__empty Сообщений пока нет, выберите водителя.

					//- пустойе боди
					.chat-body(
						v-if="driver_selected&& driver_selected.user"
						@scroll="onScrollChatList"
					)
						.chat__empty(
							v-if="!driver_selected.driver || !current_messages_list || !current_messages_list.length"
						)
							p Здесь будет выводиться история переписки&nbsp;с&nbsp;водителем {{driver_selected.driver && (' &ndash; ' + [driver_selected.driver.first_name, driver_selected.driver.last_name].join(' '))}}
						
						//- рендер чата с опредлеленным воделтелем
						//-  driver_selected - выбранный водитель в списке чатов
						//-  get_date_format_fn - метод для форматирования даты
						//-  current_messages_list - список 
						vue-admin-chat-driver-messages-list(
							v-if="driver_selected.driver && current_messages_list"
							:driver_selected="driver_selected"
							:get_date_format_fn="getFormatDateTime"
							:driver_messages_list="current_messages_list"
						)

					.chat-footer
						.chat-actions
							.chat-actions__item(
								:class="!driver_selected && classDisabled || classDisabledVerification",
								@click="driver_selected  && sendMessageRequest()"
							) Запросить фото
							.chat-actions__item(
								:class="!driver_selected && classDisabled",
								@click="driver_selected  && !classDisabled && downloadAllDriverPhotos()"
							) Скачать все фото
							.chat-actions__item(
								:class="!driver_selected && classDisabled",
							)
								span Отправить фото
								input#chat-file(
									type="file", 
									accept="image/*", 
									@change="driver_selected  && !classDisabled && sendMessageAttachment(this)"
								)
						//- TODO: это для быстрых тегов в сообщении
						//- .chat-tags
						//- 	.chat-tags__item Адрес оклейки
						//- 	.chat-tags__item Имя водителя
						.chat-enter
							input.chat-enter__input(
								type="text",  
								:disabled="!driver_selected", 
								v-model="textToDriver", 
								placeholder="Сообщение",  
								v-on:keyup.enter="driver_selected && textToDriver && sendMessageText()"
							)
							input.chat-enter__send(
								@click="driver_selected && !classDisabled && textToDriver && sendMessageText()",
								:class="(!driver_selected || !textToDriver) && classDisabled",
								:disabled="!driver_selected || !textToDriver", 
								type="submit",
								value="", 
							)
						
