dev/pug/vue/pages/admin/admin-auto.vue.pug
script(type="text/x-template"  id="template-admin-auto")
	.auto
		section.map.auto-map
			.map-head
				.map-head__wrap
					.map-item.map-back
						p.map-back__text Назад к кампаниям
					.map-item.map-search
						input(type="search" placeholder="Ищите адреса и названия").map-search__input
						input(type="submit" value="").map-search__button
				.map-head__wrap
					.map-item.map-warm
						p.map-warm__text Тепловая карта
						.map-warm__toggle
							vue-toggle
					.map-options
						.map-item.map-options-item
							img(src="assets/imgs/icon-views.svg")
							p.map-options-item__text Водителей 
								span 30
						.map-item.map-options-item
							p.map-options-item__text Онлайн
							span 30
			.map-item.map-all
				img(src="assets/imgs/icon-zoomout.svg")
				p.map-all__text Показать все


		.auto-head
			.wrap
				.auto-top
					.auto-top__wrap
						.auto-top-label
							.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
							.auto-top-label__wrap
								.auto-top-label__row
									h2.auto-top-label__title Сбербанк Спасибо
									.auto-top-label__button Активна
								p.auto-top-label__text с 08 февраля по 8 марта 2017
						.auto-top-buttons
							.auto-top-button
								img(src="assets/imgs/icon-load.svg")
								p pdf
							.auto-top-button
								img(src="assets/imgs/icon-link.svg")
								p ots

				.auto-info
				
					.auto-info__wrap
						.auto-info-item
							p.auto-info-item__text Автомобилей оклеено
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Автомобилей оклеиваются
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Сейчас в пути
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Суммарный пробег, км
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Средний возраст авто, лет
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Средний возраст авто, лет
							span.auto-info-item__number 42


			vue-admin-search
			vue-admin-tabs

				.auto-body
					.auto-body-item
						.wrap
							h2.auto-title Заявки на участие в РК
							vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)
					.auto-body-item
						.wrap
							h2.auto-title Участники РК
						vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)
					.auto-body-item
						.wrap
							h2.auto-title Заблокированные участники РК
						vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)

pub/vue/pages/admin/admin-auto.vue.html
<script type="text/x-template" id="template-admin-auto"><div class="auto"><section class="map auto-map"><div class="map-head"><div class="map-head__wrap"><div class="map-item map-back"><p class="map-back__text">Назад к кампаниям</p></div><div class="map-item map-search"><input class="map-search__input" type="search" placeholder="Ищите адреса и названия"/><input class="map-search__button" type="submit" value=""/></div></div><div class="map-head__wrap"><div class="map-item map-warm"><p class="map-warm__text">Тепловая карта</p><div class="map-warm__toggle"><vue-toggle></vue-toggle></div></div><div class="map-options"><div class="map-item map-options-item"><img src="assets/imgs/icon-views.svg"/><p class="map-options-item__text">Водителей <span>30</span></p></div><div class="map-item map-options-item"><p class="map-options-item__text">Онлайн</p><span>30</span></div></div></div></div><div class="map-item map-all"><img src="assets/imgs/icon-zoomout.svg"/><p class="map-all__text">Показать все</p></div></section><div class="auto-head"><div class="wrap"><div class="auto-top"><div class="auto-top__wrap"><div class="auto-top-label"><div class="auto-top-label__image" style="background-image: url('assets/imgs/car.jpg');"></div><div class="auto-top-label__wrap"><div class="auto-top-label__row"><h2 class="auto-top-label__title">Сбербанк Спасибо</h2><div class="auto-top-label__button">Активна</div></div><p class="auto-top-label__text">с 08 февраля по 8 марта 2017</p></div></div><div class="auto-top-buttons"><div class="auto-top-button"><img src="assets/imgs/icon-load.svg"/><p>pdf</p></div><div class="auto-top-button"><img src="assets/imgs/icon-link.svg"/><p>ots</p></div></div></div></div><div class="auto-info"><div class="auto-info__wrap"><div class="auto-info-item"><p class="auto-info-item__text">Автомобилей оклеено</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Автомобилей оклеиваются</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Сейчас в пути</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Суммарный пробег, км</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Средний возраст авто, лет</p><span class="auto-info-item__number">42</span></div><div class="auto-info-item"><p class="auto-info-item__text">Средний возраст авто, лет</p><span class="auto-info-item__number">42</span></div></div></div></div><vue-admin-search></vue-admin-search><vue-admin-tabs><div class="auto-body"><div class="auto-body-item"><div class="wrap"><h2 class="auto-title">Заявки на участие в РК</h2><vue-table :data="[{&quot;id&quot;:1,&quot;auto&quot;:&quot;1auto&quot;,&quot;gid&quot;:&quot;7gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;1km&quot;,&quot;date&quot;:&quot;1date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:2,&quot;auto&quot;:&quot;3auto&quot;,&quot;gid&quot;:&quot;4gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;4date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:3,&quot;auto&quot;:&quot;6a2uto&quot;,&quot;gid&quot;:&quot;9gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;2date&quot;,&quot;driver&quot;:&quot;1driver&quot;}]"></vue-table></div></div><div class="auto-body-item"><div class="wrap"><h2 class="auto-title">Участники РК</h2></div><vue-table :data="[{&quot;id&quot;:1,&quot;auto&quot;:&quot;1auto&quot;,&quot;gid&quot;:&quot;7gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;1km&quot;,&quot;date&quot;:&quot;1date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:2,&quot;auto&quot;:&quot;3auto&quot;,&quot;gid&quot;:&quot;4gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;4date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:3,&quot;auto&quot;:&quot;6a2uto&quot;,&quot;gid&quot;:&quot;9gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;2date&quot;,&quot;driver&quot;:&quot;1driver&quot;}]"></vue-table></div><div class="auto-body-item"><div class="wrap"><h2 class="auto-title">Заблокированные участники РК</h2></div><vue-table :data="[{&quot;id&quot;:1,&quot;auto&quot;:&quot;1auto&quot;,&quot;gid&quot;:&quot;7gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;1km&quot;,&quot;date&quot;:&quot;1date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:2,&quot;auto&quot;:&quot;3auto&quot;,&quot;gid&quot;:&quot;4gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;4date&quot;,&quot;driver&quot;:&quot;driver&quot;},{&quot;id&quot;:3,&quot;auto&quot;:&quot;6a2uto&quot;,&quot;gid&quot;:&quot;9gid&quot;,&quot;num&quot;:&quot;2num&quot;,&quot;km&quot;:&quot;3km&quot;,&quot;date&quot;:&quot;2date&quot;,&quot;driver&quot;:&quot;1driver&quot;}]"></vue-table></div></div></vue-admin-tabs></div></div></script>
