dev/pug/pages/style-guide-vue.pug
//- //- Шаблон
//- extends ../layout/layout


//- //- Описывам контент
//- block content
.wrap
    #components-demo
        h2 Инпуты
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-input(value="Текстовое значение", type="input", name='32' , placeholder="Плейсх1олдер") Виталя14
            .styleguide__wrap
                vue-input(value="Lorem ispum ololos1h", type="password", name='321' , placeholder="Плейсхолде1р") Виталя21
            .styleguide__wrap
                vue-textarea(value="Lorem ispum ololo2sh", name='322' , placeholder="Плейсхолде1р") Виталя2
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-textarea(value="", name='3223' , placeholder="Плейсхолде1р") Виталя2
        
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-checkbox(v-bind:checked="false") Олег
            .styleguide__wrap
                vue-checkbox(v-bind:checked="false") 1
            .styleguide__wrap
                vue-checkbox(v-bind:checked="true") Виталя
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-toggle(v-bind:checked="true") Костя
            .styleguide__wrap
                vue-toggle(v-bind:checked="false") Вася
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-calendar
            .styleguide__wrap
                vue-calendar

        h2 Кнопки
        .flex
            .styleguide__wrap
                vue-button(v-bind:gradient="true") Вилой раз
        .flex
            .styleguide__wrap
                vue-button Пальцем в глаз

            .styleguide__wrap
                vue-button-add
        .flex
            .styleguide__wrap
                vue-button-add
        .flex
            .styleguide__wrap
                vue-button-video
        .flex
            .styleguide__wrap
                vue-button-video
            .styleguide__wrap
                vue-button-load
        .flex
            .styleguide__wrap
                vue-button-load

        h2 Селекты
        .flex
            .styleguide__wrap
                vue-slider sadasd
            .styleguide__wrap
                vue-slider sadasd
        .flex
            .styleguide__wrap
                vue-slider sadasd
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
                
        h2 Плеер
        .flex
            .styleguide__wrap
                vue-player

        h2 Table
            vue-table

pub/pages/style-guide-vue.html
<div class="wrap"><div id="components-demo"><h2>Инпуты</h2><div class="flex styleguide__wrap"><div class="styleguide__wrap"><vue-input value="Текстовое значение" type="input" name="32" placeholder="Плейсх1олдер">Виталя14</vue-input></div><div class="styleguide__wrap"><vue-input value="Lorem ispum ololos1h" type="password" name="321" placeholder="Плейсхолде1р">Виталя21</vue-input></div><div class="styleguide__wrap"><vue-textarea value="Lorem ispum ololo2sh" name="322" placeholder="Плейсхолде1р">Виталя2</vue-textarea></div></div><div class="flex styleguide__wrap"><div class="styleguide__wrap"><vue-textarea value="" name="3223" placeholder="Плейсхолде1р">Виталя2</vue-textarea></div></div><div class="flex styleguide__wrap"><div class="styleguide__wrap"><vue-checkbox v-bind:checked="false">Олег</vue-checkbox></div><div class="styleguide__wrap"><vue-checkbox v-bind:checked="false">1</vue-checkbox></div><div class="styleguide__wrap"><vue-checkbox v-bind:checked="true">Виталя</vue-checkbox></div></div><div class="flex styleguide__wrap"><div class="styleguide__wrap"><vue-toggle v-bind:checked="true">Костя</vue-toggle></div><div class="styleguide__wrap"><vue-toggle v-bind:checked="false">Вася</vue-toggle></div></div><div class="flex styleguide__wrap"><div class="styleguide__wrap"><vue-calendar></vue-calendar></div><div class="styleguide__wrap"><vue-calendar></vue-calendar></div></div><h2>Кнопки</h2><div class="flex"><div class="styleguide__wrap"><vue-button v-bind:gradient="true">Вилой раз</vue-button></div></div><div class="flex"><div class="styleguide__wrap"><vue-button>Пальцем в глаз</vue-button></div><div class="styleguide__wrap"><vue-button-add></vue-button-add></div></div><div class="flex"><div class="styleguide__wrap"><vue-button-add></vue-button-add></div></div><div class="flex"><div class="styleguide__wrap"><vue-button-video></vue-button-video></div></div><div class="flex"><div class="styleguide__wrap"><vue-button-video></vue-button-video></div><div class="styleguide__wrap"><vue-button-load></vue-button-load></div></div><div class="flex"><div class="styleguide__wrap"><vue-button-load></vue-button-load></div></div><h2>Селекты</h2><div class="flex"><div class="styleguide__wrap"><vue-slider>sadasd</vue-slider></div><div class="styleguide__wrap"><vue-slider>sadasd</vue-slider></div></div><div class="flex"><div class="styleguide__wrap"><vue-slider>sadasd</vue-slider></div><div class="styleguide__wrap"><vue-select>sadasd</vue-select></div></div><div class="flex"><div class="styleguide__wrap"><vue-select>sadasd</vue-select></div></div><div class="flex"><div class="styleguide__wrap"><vue-select>sadasd</vue-select></div></div><div class="flex"><div class="styleguide__wrap"><vue-select></vue-select></div><div class="styleguide__wrap"><vue-select-multi></vue-select-multi></div></div><div class="flex"><div class="styleguide__wrap"><vue-select-multi></vue-select-multi></div></div><div class="flex"><div class="styleguide__wrap"><vue-select-multi></vue-select-multi></div></div><div class="flex"><div class="styleguide__wrap"><vue-select-multi></vue-select-multi></div></div><h2>Плеер</h2><div class="flex"><div class="styleguide__wrap"><vue-player></vue-player></div></div><h2>Table<vue-table></vue-table></h2></div></div>
