dev/pug/vue/components/auto-popup.vue.pug
script(type="text/x-template")#template-admin-verification-popup
	#auto-popup.auto-popup(
		bubbling-pupup="true"
	)
		.loading(
			v-bind:class="{'hide' : !loading}"
		)
			#loader 
		.wrap
			.auto-popup__container(
				v-if="verification_full && verification && verification.driver"
			)
				.auto-popup__line
				a.auto-popup-close(
					href="#"
					@click.prevent="showToggle(false)"
				)
					.auto-popup-close__item
					.auto-popup-close__item
				.auto-popup-head(
					v-if="verification.driver && verification.driver.auto"
				)
					.auto-popup__left
						.auto-popup-car
							p.auto-popup-car__title {{verification.driver.auto.model.name }} {{verification.driver.auto.mark.name }}
							p.auto-popup-car__text(
								v-if="verification.driver.auto&&verification.driver.auto.color && verification.driver.auto.series.name && verification.driver.auto.year"
							) {{verification.driver.auto.color.name }} {{ verification.driver.auto.series.name }} {{ verification.driver.auto.year }}
							p.auto-popup-car__date(
								v-if="verification.driver.user"
							) Зарегистрирован #[span с {{  getFormatDateTime(verification.driver.user.created_at) }}]
						p.auto-popup-number {{ verification.driver.auto.number }}
					.auto-popup__right(
						v-if="!verification.verification_simple_id"
					)
						p.auto-popup__text Фотографий <br>просмотрено
						.auto-popup__counter 20/32

				.auto-popup-body(
					v-if="verification.driver && verification.driver.auto",
				)
					//- title="Наведите и подержите 1 секунду, для увеличения фото. Или нажмите, для просмотра в отдельном окне"
					//- Фото при обклейке
					.auto-popup-item
						a.auto-popup-item__image(
							target="_blank"
							:href="verification.driver.auto.photo"
						)
							img(:src=" verification.driver.auto.photo ", alt="Фото при регистрации")
						.auto-popup-item__text Фото при регистрации


					// если нет больше фото - то зщаглужка
					.auto-popup-item(
						v-if="!verification_full || !verification_full.photos"
					)
				
					//- Остальное фотографии
					.auto-popup-item(
						v-if="verification_full&&verification_full.photos"
						v-for="photo in verification_full.photos"
					)
						a.auto-popup-item__image(
							target="_blank"
							:style="{  backgroundColor: photo.status=='rejected' ? 'red' : '' }"
							:href="photo.path"
						)
							img(
								:style="{ opacity: photo.status=='rejected' ? 0.4 : 1 }"
								:src="photo.path ", 
								alt="Фото после оклейки"
							)
						.auto-popup-item__text Фото после оклейки

				// Текст ареа, которая пока что не нуэна, судяпо всему
				//- .auto-popup-footer(
				//- 	v-if="isShowTextToDriver && hasButtonApprove!=2 && verification_full&&verification_full.photos.length == 1"
				//- )
				//- 	.companies-actions__textarea(
				//- 		style="padding-bottom: 20px"
				//- 	)
				//- 		vue-textarea(
				//- 			v-model="textToDriver"
				//- 			value="", 
				//- 			name='send-messages' , 
				//- 			placeholder="Введите сообщение водителю...",
				//- 			:disabled="false"
				//- 		)
				//- footer popup
				.auto-popup-footer(
				)
					div.auto-popup-footer(
						v-if="!hasFailed && !hasButtonSuccess && verification_full&&verification_full.photos&&verification_full.photos.length "
					)
						//- Заказное фото
						a.auto-popup__link(
							href="#"
							v-if="!isShowTextToDriver && hasButtonApprove!=2 && verification_full&&verification_full.photos.length < 2  && !verification.driver.user.blocked"
							@click.prevent="verificationReject"
						) Запросить заказное фото

						a.auto-popup__link(
							href="#"
							v-if="!isBlocked && verification_full&&verification_full.photos.length >= 2 "
							@click.prevent="bunDriver"
						) Отключить от РК и заблокировать.
						
						//- Это обычный текст
						span.auto-popup__link(
							style="text-decoration: nonw"
							v-if="hasButtonApprove==2 && verification_full&&verification_full.photos.length < 2 " 
						) Ожидание повторной фотографии


						//- а вот принятие завяки - всегда, кроме того что последний аппрув - реджектед
						.auto-popup-button
							vue-button(
								v-if="!isShowTextToDriver"
								:gradient="true",
								:disabled="hasButtonApprove==2"
								@click.prevent.native="verificationApprove",
							) Принять заявку
							//- vue-button(
							//- 	v-if="isShowTextToDriver"
							//- 	:gradient="true",
							//- 	:disabled="hasButtonApprove==2"
							//- 	@click.prevent.native="verificationReject",
							//- ) Доп.запрос на заказное фото

pub/vue/components/no_vue_blocks/auto-popup.html
<div class="auto-popup"><div class="wrap"><div class="auto-popup__container"><div class="auto-popup__line" style="width: 60%;"></div><div class="auto-popup-close"><div class="auto-popup-close__item"></div><div class="auto-popup-close__item"></div></div><div class="auto-popup-head"><div class="auto-popup__left"><div class="auto-popup-car"><p class="auto-popup-car__title">Volkswagen Polo</p><p class="auto-popup-car__text">Белый седан, 2011</p><p class="auto-popup-car__date">Зарегистрирован <span>с 10.08.2017</span></p></div><p class="auto-popup-number">Р578ХХ178</p></div><div class="auto-popup__right"><p class="auto-popup__text">Фотографий <br>просмотрено</p><div class="auto-popup__counter">20/32</div></div></div><div class="auto-popup-body"><div class="auto-popup-item"><div class="auto-popup-item__image" style="background-image: url('assets/imgs/car.jpg');"></div><div class="auto-popup-item__text">Фото при оклейке</div></div><div class="auto-popup-item"><div class="auto-popup-item__image" style="background-image: url('assets/imgs/car.jpg');"></div><div class="auto-popup-item__text">Новое</div></div></div><div class="auto-popup-footer"><a class="auto-popup__link" href="#">Запросить заказное фото</a><div class="auto-popup-button"><vue-button v-bind:gradient="true">Проверка пройдена</vue-button></div></div></div></div></div>
