dev/pug/vue/components/buttons.vue.pug
script(type="text/x-template"  id="template-button")
	//- +button('Без градиента', false, false)
	button.button(v-bind:class="{'button_gr':isGragient, 'disabled': disabled}", :disabled="disabled") #[slot]


script(type="text/x-template"  id="template-button-add")
	button.button-add

script(type="text/x-template"  id="template-button-video")
	.button-video
		.styleguide__wrap
			img(src='/assets/imgs/video-play.svg').video__button
		//- .styleguide__wrap
		//- 	img(src="../assets/imgs/video-pause.svg").video__button
		//- .styleguide__wrap
		//- 	img(src="../assets/imgs/video-repeat.svg").video__button

script(type="text/x-template"  id="template-button-load")
	.styleguide__wrap
		.button-load
			img(src="/assets/imgs/icon-plus.svg").button-load__icon
			p.button-load__text Создать точку
	//- .styleguide__wrap
	//- 	.button-load(style="background-image: url('../assets/imgs/picture.jpg')")
	//- 		.button-load__back
	//- 			img(src="../assets/imgs/icon-basket.svg").button-load__basket

					


				

pub/vue/components/buttons.vue.html
<script type="text/x-template" id="template-button"><button class="button" v-bind:class="{'button_gr':isGragient, 'disabled': disabled}" :disabled="disabled"><slot></slot></button></script><script type="text/x-template" id="template-button-add"><button class="button-add"></button></script><script type="text/x-template" id="template-button-video"><div class="button-video"><div class="styleguide__wrap"><img class="video__button" src="/assets/imgs/video-play.svg"/></div></div></script><script type="text/x-template" id="template-button-load"><div class="styleguide__wrap"><div class="button-load"><img class="button-load__icon" src="/assets/imgs/icon-plus.svg"/><p class="button-load__text">Создать точку</p></div></div></script>
