dev/pug/vue/components/inputs.vue.pug
//- Текст ареа
script(type="text/x-template"  id="template-textarea")
	//- Миксин для текстареи
	//- @param text, - текст
	//- @param name,  - имя
	//- @param placeholder, - плейсхолдер 
	//- @param classes, - классы
	//- @param isDisabled - дасайблед
	.textarea
		label
			slot
		textarea(
			v-bind:value="value", 
			v-on:input="$emit('input', $event.target.value)", 
			:placeholder="placeholder", 
			:name="name", 
			:disabled="disabled"
		)


//- инпут
script(type="text/x-template"  id="template-input")
	.input(:class="classname")
		label
			slot
		input(
			v-bind:value="value", 
			v-on:input="$emit('input', $event.target.value)", 
			:disabled="disabled",  
			:type="type", 
			:placeholder="placeholder", 
			:name="name"
			:required="required"
		)

//- чекбокс
script(type="text/x-template"  id="template-checkbox")
	.checkbox-wrap.styleguide__wrap
		label.control.control--checkbox
			slot
			input.checkbox(type="checkbox", v-model="isChecked")
			span.control__indicator
	//- +checkbox(true, 'два')
	//- +checkbox(false, 'раз')

//- чекбокс тогглер
script(type="text/x-template"  id="template-toggle")
	.switch-wrap
		label
			i
				slot
			input(type="checkbox",  v-model="isChecked")
			span
				b

	//- +toggle(true, 'Ллейбл')
	//- +toggle(false, 'Лебл')

// календарь
script(type="text/x-template"  id="template-calendar")
	div
		div.datepicker-inline(v-if="type=='div'")
		input.datepicker-inline.form-create__input(v-if="type=='input'")

	//- .datepicker-input
	//- 	+input('Дата', 'text', 'dates', 'дд-мм-гггг')

	//- div.datepicker-range.input-group.input-daterange
	//- 	.flex.flexbox
	//- 		div
	//- 			+input('от', 'text', 'start', 'от')
	//- 		div
	//- 			+input('по', 'text', 'end', 'по')

	//- +calendar()

pub/vue/components/inputs.vue.html
<script type="text/x-template" id="template-textarea"><div class="textarea"><label><slot></slot></label><textarea v-bind:value="value" v-on:input="$emit('input', $event.target.value)" :placeholder="placeholder" :name="name" :disabled="disabled"></textarea></div></script><script type="text/x-template" id="template-input"><div class="input" :class="classname"><label><slot></slot></label><input v-bind:value="value" v-on:input="$emit('input', $event.target.value)" :disabled="disabled" :type="type" :placeholder="placeholder" :name="name" :required="required"/></div></script><script type="text/x-template" id="template-checkbox"><div class="checkbox-wrap styleguide__wrap"><label class="control control--checkbox"><slot></slot><input class="checkbox" type="checkbox" v-model="isChecked"/><span class="control__indicator"></span></label></div></script><script type="text/x-template" id="template-toggle"><div class="switch-wrap"><label><i><slot></slot></i><input type="checkbox" v-model="isChecked"/><span><b></b></span></label></div></script><!-- календарь--><script type="text/x-template" id="template-calendar"><div><div class="datepicker-inline" v-if="type=='div'"></div><input class="datepicker-inline form-create__input" v-if="type=='input'"/></div></script>
