pub/vue/components/player.vue.html
<script type="text/x-template" id="template-player"><div class="styleguide__wrap"><div class="player"><div class="player__wrap"><div class="player__left"><img class="player__icon" src="/assets/imgs/player-play.svg"/><p class="player__name">name</p></div><p class="player__time">time</p></div><div class="player-line"><div class="player-line__progress" style="width:33% ;"></div></div></div></div></script>

dev/pug/vue/components/player.vue.pug
//- include ../../blocks/player

script(type="text/x-template"  id="template-player")
	.styleguide__wrap
		.player
			.player__wrap
				.player__left
					img(src!="/assets/imgs/player-play.svg").player__icon
					p.player__name name
				p.player__time time
			.player-line
				.player-line__progress(style="width:33% ;")



//- +player('play',  'sdsd.waw', '0:32', '23%')
//- +player('pause',  'sd1sd.waw', '0:18', '13%')
//- +player('repeat',  'sd1sd.waw', '0:12', '73%')
