dev/pug/vue/components/selects.vue.pug
//- Селект обычнйый
script(type="text/x-template"  id="template-select")
	.select
		label
			span.select-title
				slot
			select(:value="value", placeholder="placeholder", :disabled="disabled", :search="!!(url)", :allowclose="false")
				option(v-if="(!url && !ajaxload)", v-for="option in options", :value="option.value", :selected="!!(value==option.value)") {{ option.text }}

//- Мульти-селект
script(type="text/x-template"  id="template-select-multi")
	.select-multi
		span.select-title
			slot
		select(multiple,  :value="value", @change="setValue()", :disabled="disabled")
			option(v-for="option in options", :value="option.value", :selected="!!(value.indexOf(option.value)+1)") {{ option.text }}

//- Мульти-селект-колор
script(type="text/x-template"  id="template-select-multi-color")
	.select-multi.color
		span.select-title
			slot
		select(multiple,  v-bind:value="value", @change="setValue()",  v-bind:disabled="disabled")
			option(v-for="option in options",  v-bind:value="option.id",  v-bind:data-select2-color="option.color",  v-bind:selected="!!(value.indexOf(option.id)+1)") {{ option.text }}

//- Селект-слайдер
script(type="text/x-template"  id="template-slider")
	.select-slider
		span.select-title
			slot
		.slider-select-wrap
			.slider-select-item(v-on:click="activated", v-bind:class="{'active':isActive}")
				.slider-select-item-label
					span.slider-select-value.slider-select-value-from
					span.slider-select-value.slider-select-value-to
				.slider-select-item-popup(v-bind:class="{'active':isActive}")
					.slider-select-item-label
						span.slider-select-value.slider-select-value-from
						span.slider-select-value.slider-select-value-to
					.slider

pub/vue/components/selects.vue.html
<script type="text/x-template" id="template-select"><div class="select"><label><span class="select-title"><slot></slot></span><select :value="value" placeholder="placeholder" :disabled="disabled" :search="!!(url)" :allowclose="false"><option v-if="(!url &amp;&amp; !ajaxload)" v-for="option in options" :value="option.value" :selected="!!(value==option.value)">{{ option.text }}</option></select></label></div></script><script type="text/x-template" id="template-select-multi"><div class="select-multi"><span class="select-title"><slot></slot></span><select multiple="multiple" :value="value" @change="setValue()" :disabled="disabled"><option v-for="option in options" :value="option.value" :selected="!!(value.indexOf(option.value)+1)">{{ option.text }}</option></select></div></script><script type="text/x-template" id="template-select-multi-color"><div class="select-multi color"><span class="select-title"><slot></slot></span><select multiple="multiple" v-bind:value="value" @change="setValue()" v-bind:disabled="disabled"><option v-for="option in options" v-bind:value="option.id" v-bind:data-select2-color="option.color" v-bind:selected="!!(value.indexOf(option.id)+1)">{{ option.text }}</option></select></div></script><script type="text/x-template" id="template-slider"><div class="select-slider"><span class="select-title"><slot></slot></span><div class="slider-select-wrap"><div class="slider-select-item" v-on:click="activated" v-bind:class="{'active':isActive}"><div class="slider-select-item-label"><span class="slider-select-value slider-select-value-from"></span><span class="slider-select-value slider-select-value-to"></span></div><div class="slider-select-item-popup" v-bind:class="{'active':isActive}"><div class="slider-select-item-label"><span class="slider-select-value slider-select-value-from"></span><span class="slider-select-value slider-select-value-to"></span></div><div class="slider"></div></div></div></div></div></script>
