dev/pug/vue/components/table.vue.pug
//- include ../../blocks/table
//-  drivers_type_active == -1 -  
//-  drivers_type_active == 1 - убит
//-  drivers_type_active == 0
script(type="text/x-template"  id="template-table")
	section.table(style="table-layout: fixed;")

		.table__wrap
			.table-body
				.table-body__wrap
					.table__string.table__string_head
						//- чекбокаы
						.table-item.head(style="width: 30px")
							.table-item__container(v-if="driverList && (driverList.length>0)")
								//- если у нас все чекбоксы выделены - то делаем выделение  чекбокса
								label.control.control--checkbox.table-checkbox
									input.checkbox(
										type="checkbox", 
										v-on:change="tableCheckedAll", 
										:checked="(driverList && (driverList.length == selectedIds.length))"
									)
									span.control__indicator
						//- автомобиль
						.table-item.static
							.table-item__container(
								data-column="auto_name", 
								v-on:click="tableSort"
							)
								p.table-item__text Автомобиль #[b.table-row-rate(v-if="indexSort_auto_name") {{indexSort_auto_name}}]
								.table-item-arrows(
									v-bind:class="{'filter-up':(sortarrows['auto_name']=='asc'), 'filter-down':(sortarrows['auto_name']=='desc') }"
								)
						//- аудиогид
						.table-item.align-center.small-width(v-if="!isBunnedTab")
							.table-item__container(
								data-column="auto_guide", 
								v-on:click="tableSort"
							)
								p.table-item__text Аудиогид #[b.table-row-rate(v-if="indexSort_auto_guide") {{indexSort_auto_guide}}]
								.table-item-arrows(
									v-bind:class="{'filter-up':(sortarrows['auto_guide']=='asc'), 'filter-down':(sortarrows['auto_guide']=='desc') }"
								)
						//- Госномер
						.table-item.medium-width.align-center
							.table-item__container(
								data-column="auto_number", 
								v-on:click="tableSort"
							)
								p.table-item__text Госномер #[b.table-row-rate(v-if="indexSort_auto_number") {{indexSort_auto_number}}]
								.table-item-arrows(
									v-bind:class="{'filter-up':(sortarrows['auto_number']=='asc'), 'filter-down':(sortarrows['auto_number']=='desc') }"
								)
						//- Госномер  сегодня/всегоуе
						.table-item.align-center.medium-width(v-if="!isBunnedTab")
							.table-item__container
								p.table-item__text Пробег сегодня/всего
						//- если бы смело забыть все 0 - это ошибка
						.table-item.medium-width.align-center(v-if="!isBunnedTab")
							.table-item__container(data-column="driver_created_at", v-on:click="tableSort")
								p.table-item__text В системе с #[b.table-row-rate(v-if="index_sort_driver_created_at") {{index_sort_driver_created_at}}]
								.table-item-arrows(
									v-bind:class="{'filter-up':(sortarrows['driver_created_at']=='asc'), 'filter-down':(sortarrows['driver_created_at']=='desc') }"
								)
						//- Водитель
						.table-item.static
							.table-item__container(data-column="driver_full_name", v-on:click="tableSort")
								p.table-item__text Водитель #[b.table-row-rate(v-if="indexSort_driver_full_name") {{indexSort_driver_full_name}}]
								.table-item-arrows(
									v-bind:class="{'filter-up':(sortarrows['driver_full_name']=='asc'), 'filter-down':(sortarrows['driver_full_name']=='desc') }"
								)
						//- Водитель
						.table-item.align-center.medium-width(v-if="isBunnedTab")
							.table-item__container
								p.table-item__text В системе
						.table-item(v-if="isBunnedTab")
							.table-item__container
								p.table-item__text Причина

					.table__string(
							v-if="driverList&&driverList.length", 
							v-for="item in driverList",  
							v-on:click="tableCheckedItem(item.user.id)"
						)
						.table-item(style="width: 30px")
							label.control.control--checkbox.table-checkbox
								input.checkbox(type="checkbox", :data-id="item.user.id", :checked="(!!(selectedIds.indexOf(item.user.id)+1))")
								span.control__indicator
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(
									:style="{ backgroundImage: 'url(' + item.auto.photo + ')' }"
									@click="goChatDriver(item.user.id)"
								)
									span.table-row-rate(v-if="item.driver.rate") {{ item.driver.rate }}
								.table-item__wrap
									p.table-item__title
										span
											i
												span(style="word-break: break-all;") {{item.auto.mark.name}} 
												span(style="white-space: nowrap") 
													i.colorHex(:style="{ backgroundColor: item.auto.color.code }")
													span(style="white-space: normal;word-break: break-word;padding-right: 10px;}") {{item.auto.model.name }} 
									p.table-item__text
										span {{item.auto.series.name}}, {{item.auto.year}}
						.table-item.align-center(v-if="!isBunnedTab")
							p.table-item__text
								span  {{item.auto.guide ? 'Вкл.' : 'Выкл.'}}
						.table-item.align-center(style="width: 110px;")
							p.table-item__text
								span {{item.auto.number}}
						.table-item.align-center(v-if="!isBunnedTab")
							p.table-item__text
								span {{item.auto.mileage ? item.auto.mileage : '0'}} км
						.table-item.align-center(v-if="!isBunnedTab")
							p.table-item__text
								span {{ getFormatDateTime(item.user.created_at) }}
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(
									:style="{ backgroundImage: 'url(' + item.driver.photo + ')' }"
									@click="goChatDriver(item.user.id)"
								)
								.table-item__wrap
									p.table-item__title {{getFullName(item)}}
									p.table-item__text
										span {{declOfNumYear(item.driver.age)}}
						.table-item.align-center(v-if="isBunnedTab")
							p.table-item__text
								span {{ getFormatDateTime(item.user.created_at) }}
						.table-item(v-if="isBunnedTab")
							p.table-item__text(style="word-wrap: break-word;")
								span {{item.user.blocked_reason || 'Без причины'}}

		div.table_zero(v-if="driverList&&!driverList.length") Пока тут пусто..

pub/vue/components/table.vue.html
<script type="text/x-template" id="template-table"><section class="table" style="table-layout: fixed;"><div class="table__wrap"><div class="table-body"><div class="table-body__wrap"><div class="table__string table__string_head"><div class="table-item head" style="width: 30px"><div class="table-item__container" v-if="driverList &amp;&amp; (driverList.length&gt;0)"><label class="control control--checkbox table-checkbox"><input class="checkbox" type="checkbox" v-on:change="tableCheckedAll" :checked="(driverList &amp;&amp; (driverList.length == selectedIds.length))"/><span class="control__indicator"></span></label></div></div><div class="table-item static"><div class="table-item__container" data-column="auto_name" v-on:click="tableSort"><p class="table-item__text">Автомобиль <b class="table-row-rate" v-if="indexSort_auto_name">{{indexSort_auto_name}}</b></p><div class="table-item-arrows" v-bind:class="{'filter-up':(sortarrows['auto_name']=='asc'), 'filter-down':(sortarrows['auto_name']=='desc') }"></div></div></div><div class="table-item align-center small-width" v-if="!isBunnedTab"><div class="table-item__container" data-column="auto_guide" v-on:click="tableSort"><p class="table-item__text">Аудиогид <b class="table-row-rate" v-if="indexSort_auto_guide">{{indexSort_auto_guide}}</b></p><div class="table-item-arrows" v-bind:class="{'filter-up':(sortarrows['auto_guide']=='asc'), 'filter-down':(sortarrows['auto_guide']=='desc') }"></div></div></div><div class="table-item medium-width align-center"><div class="table-item__container" data-column="auto_number" v-on:click="tableSort"><p class="table-item__text">Госномер <b class="table-row-rate" v-if="indexSort_auto_number">{{indexSort_auto_number}}</b></p><div class="table-item-arrows" v-bind:class="{'filter-up':(sortarrows['auto_number']=='asc'), 'filter-down':(sortarrows['auto_number']=='desc') }"></div></div></div><div class="table-item align-center medium-width" v-if="!isBunnedTab"><div class="table-item__container"><p class="table-item__text">Пробег сегодня/всего</p></div></div><div class="table-item medium-width align-center" v-if="!isBunnedTab"><div class="table-item__container" data-column="driver_created_at" v-on:click="tableSort"><p class="table-item__text">В системе с <b class="table-row-rate" v-if="index_sort_driver_created_at">{{index_sort_driver_created_at}}</b></p><div class="table-item-arrows" v-bind:class="{'filter-up':(sortarrows['driver_created_at']=='asc'), 'filter-down':(sortarrows['driver_created_at']=='desc') }"></div></div></div><div class="table-item static"><div class="table-item__container" data-column="driver_full_name" v-on:click="tableSort"><p class="table-item__text">Водитель <b class="table-row-rate" v-if="indexSort_driver_full_name">{{indexSort_driver_full_name}}</b></p><div class="table-item-arrows" v-bind:class="{'filter-up':(sortarrows['driver_full_name']=='asc'), 'filter-down':(sortarrows['driver_full_name']=='desc') }"></div></div></div><div class="table-item align-center medium-width" v-if="isBunnedTab"><div class="table-item__container"><p class="table-item__text">В системе</p></div></div><div class="table-item" v-if="isBunnedTab"><div class="table-item__container"><p class="table-item__text">Причина</p></div></div></div><div class="table__string" v-if="driverList&amp;&amp;driverList.length" v-for="item in driverList" v-on:click="tableCheckedItem(item.user.id)"><div class="table-item" style="width: 30px"><label class="control control--checkbox table-checkbox"><input class="checkbox" type="checkbox" :data-id="item.user.id" :checked="(!!(selectedIds.indexOf(item.user.id)+1))"/><span class="control__indicator"></span></label></div><div class="table-item"><div class="table-item__container"><div class="table-item__avatar table-item__avatar_chat" :style="{ backgroundImage: 'url(' + item.auto.photo + ')' }" @click="goChatDriver(item.user.id)"><span class="table-row-rate" v-if="item.driver.rate">{{ item.driver.rate }}</span></div><div class="table-item__wrap"><p class="table-item__title"><span><i><span style="word-break: break-all;">{{item.auto.mark.name}} </span><span style="white-space: nowrap"> <i class="colorHex" :style="{ backgroundColor: item.auto.color.code }"></i><span style="white-space: normal;word-break: break-word;padding-right: 10px;}">{{item.auto.model.name }} </span></span></i></span></p><p class="table-item__text"><span>{{item.auto.series.name}}, {{item.auto.year}}</span></p></div></div></div><div class="table-item align-center" v-if="!isBunnedTab"><p class="table-item__text"><span> {{item.auto.guide ? 'Вкл.' : 'Выкл.'}}</span></p></div><div class="table-item align-center" style="width: 110px;"><p class="table-item__text"><span>{{item.auto.number}}</span></p></div><div class="table-item align-center" v-if="!isBunnedTab"><p class="table-item__text"><span>{{item.auto.mileage ? item.auto.mileage : '0'}} км</span></p></div><div class="table-item align-center" v-if="!isBunnedTab"><p class="table-item__text"><span>{{ getFormatDateTime(item.user.created_at) }}</span></p></div><div class="table-item"><div class="table-item__container"><div class="table-item__avatar table-item__avatar_chat" :style="{ backgroundImage: 'url(' + item.driver.photo + ')' }" @click="goChatDriver(item.user.id)"></div><div class="table-item__wrap"><p class="table-item__title">{{getFullName(item)}}</p><p class="table-item__text"><span>{{declOfNumYear(item.driver.age)}}</span></p></div></div></div><div class="table-item align-center" v-if="isBunnedTab"><p class="table-item__text"><span>{{ getFormatDateTime(item.user.created_at) }}</span></p></div><div class="table-item" v-if="isBunnedTab"><p class="table-item__text" style="word-wrap: break-word;"><span>{{item.user.blocked_reason || 'Без причины'}}</span></p></div></div></div></div></div><div class="table_zero" v-if="driverList&amp;&amp;!driverList.length">Пока тут пусто..</div></section></script>
