pub/blocks/footer.html
<footer class="footer"><div class="wrap footer__wrap"><div class="footer__item"><a class="footer-logo" href="#"><img src="./assets/imgs/logo.svg" width="157px"/></a><div class="footer-socials"><a class="footer-socials__item" href="#"></a><a class="footer-socials__item" href="#"></a><a class="footer-socials__item" href="#"></a></div><a class="footer-button" href="#">Написать в поддержку</a></div><div class="footer__item"><div class="footer-made"><p class="footer-made__text">Дизайн и разработка</p><a class="footer-made__logo" href="#"><img src="./assets/imgs/footer-logo.svg"/></a></div></div></div></footer>

dev/pug/vue/layout/footer.vue.pug
footer.footer(
	v-if="isAuth && typeAuthRoute[1]!='chat'", 
	style=" position: relative; z-index: 1; background: white;"
)
	.wrap.footer__wrap
		.footer__item
			a(href="/").footer-logo
				img(src="/assets/imgs/logo.svg" width="157px")
			.footer-socials
				a(:href="footer_link_instagram", target="_blank").footer-socials__item 
				a(:href="footer_link_vkontakte", target="_blank").footer-socials__item 
				a(:href="footer_link_facebook", target="_blank").footer-socials__item 
			a(:href="'mailto:'+footer_link_email_support").footer-button Написать в поддержку
		.footer__item
			.footer-made
				p.footer-made__text Дизайн и разработка
				a(href="http://brwb.ru/", target="_blank").footer-made__logo
					img(src="/assets/imgs/footer-logo.svg")
