pub/vue/layout/header.vue.html
<script type="text/x-template" id="template-header"><header class="header" id="header" v-if="route[0]=='admin'"><div class="wrap header__wrap"><div class="header__item"><a class="header-logo" href="/"><img src="/assets/imgs/logo.svg"/></a><nav class="header-nav"><ul class="header-nav__list"><li class="header-nav__item" :class="route[1]=='dashboard' ? 'active' : ''"><a data-href="/admin/dashboard" @click.prevent="changePage" href="#">Рек. кампании</a></li><li class="header-nav__item" :class="route[1]=='blacklist' ? 'active' : ''"><a data-href="/admin/blacklist" @click.prevent="changePage" href="#">Черн. список</a></li><li class="header-nav__item" :class="route[1]=='history' ? 'active' : ''"><a data-href="/admin/history" @click.prevent="changePage" href="#">История</a></li><li class="header-nav__item" :class="route[1]=='points' ? 'active' : ''"><a data-href="/admin/points" @click.prevent="changePage" href="#">Оклейка</a></li><li class="header-nav__item" :class="route[1]=='chat' ? 'active' : ''" style="position: relative"><div class="header-notifications__count" v-if="unread_messages_total">{{unread_messages_total}}</div><a data-href="/admin/chat" @click.prevent="changePage" href="#">Чат</a></li><li class="header-nav__item" :class="route[1]=='settings' ? 'active' : ''"><a data-href="/admin/settings" @click.prevent="changePage" href="#">Настройки</a></li></ul></nav></div><div class="header__item"><div class="header-balance">Баланс<span>{{balance_sms}} кред.</span></div><div class="header-notifications-wrap"><a class="header-notifications" href="#" @click.prevent="openNotificationPopup"><img class="header-notifications__icon" src="/assets/imgs/icon-bell.svg"/><div class="header-notifications__count" v-if="notification_count">{{notification_count}}</div></a></div><a class="header-user" href="#axModel" data-toggle="modal" data-target="#axModel">{{ profilename }}</a><a class="header-logout" href="#" @click.prevent="logout"><img src="/assets/imgs/icon-logout.svg"/></a></div></div></header><header class="header-cabinet" id="header" v-else-if="route[0]=='client'"><div class="wrap header-cabinet__wrap"><div class="header__item"><a class="header-logo" href="#"><img src="/assets/imgs/logo.svg" width="157px"/></a><form class="header-selects"><div class="header-selects__item"><div class="select"><vue-select>Рекламная кампания</vue-select></div></div><div class="header-selects__item"><div class="select"><vue-select>Рекламный носитель</vue-select></div></div><div class="header-selects__item"><div class="select"><vue-select>Радиус</vue-select></div></div></form></div><div class="header__item"><a class="header-user" href="#axModel" data-toggle="modal" data-target="#axModel">{{ profilename }}</a><a class="header-logout" href="#" @click.prevent="logout"><img src="/assets/imgs/icon-logout.svg"/></a></div></div></header></script>

dev/pug/vue/layout/header.vue.pug
script(type="text/x-template"  id="template-header")
	header#header.header(v-if="route[0]=='admin'")
			.wrap.header__wrap
				.header__item
					a(href="/").header-logo
						img(src="/assets/imgs/logo.svg")
					nav.header-nav
						ul.header-nav__list
							li.header-nav__item(
								:class="route[1]=='dashboard' ? 'active' : ''"
							)
								a(data-href="/admin/dashboard", @click.prevent="changePage", href="#") Рек. кампании
							li.header-nav__item(
								:class="route[1]=='blacklist' ? 'active' : ''"
							)
								a(data-href="/admin/blacklist", @click.prevent="changePage", href="#") Черн. список
							li.header-nav__item(
								:class="route[1]=='history' ? 'active' : ''"
							)
								a(data-href="/admin/history", @click.prevent="changePage", href="#") История
							li.header-nav__item(
								:class="route[1]=='points' ? 'active' : ''"
							)
								a(data-href="/admin/points", @click.prevent="changePage", href="#") Оклейка
							li.header-nav__item(
								:class="route[1]=='chat' ? 'active' : ''"
								style="position: relative"
							)
								.header-notifications__count(
									v-if="unread_messages_total"
								) {{unread_messages_total}}
								a(data-href="/admin/chat", @click.prevent="changePage", href="#") Чат
							li.header-nav__item(
								:class="route[1]=='settings' ? 'active' : ''"
							)
								a(data-href="/admin/settings", @click.prevent="changePage", href="#") Настройки
							//- li.header-nav__item(:class="route[1]=='news'?'active':''")
							//- 	a(href="/admin/news") Новости


				.header__item
					.header-balance Баланс
						span {{balance_sms}} кред.
					div.header-notifications-wrap
						a(
							href="#", 
							@click.prevent="openNotificationPopup"
						).header-notifications
							img(src="/assets/imgs/icon-bell.svg").header-notifications__icon
							.header-notifications__count(
								v-if="notification_count"
							) {{notification_count}}

					a(
						href="#axModel", 
						data-toggle="modal",
						data-target="#axModel"
					).header-user {{ profilename }}
					a(href="#", @click.prevent="logout").header-logout
						img(src="/assets/imgs/icon-logout.svg")

	header#header.header-cabinet(v-else-if="route[0]=='client'")
			.wrap.header-cabinet__wrap
				.header__item
					a(href="#").header-logo
						img(
							src="/assets/imgs/logo.svg", 
							width="157px"
						)
					form.header-selects
						.header-selects__item
							.select
								vue-select Рекламная кампания
						.header-selects__item
							.select
								vue-select Рекламный носитель
						.header-selects__item
							.select
								vue-select Радиус

				.header__item
					a.header-user(href="#axModel", data-toggle="modal", data-target="#axModel") {{ profilename }}
					a.header-logout(href="#", @click.prevent="logout")
						img(src="/assets/imgs/icon-logout.svg")
