pub/vue/layout/modal.vue.html
<script type="text/x-template" id="template-modal"><div class="modal fade" id="auth" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="auth" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-body"><div class="wrap modal__wrap"><div class="modal-block" v-if="modalType == 'login'" v-on:keyup.enter="loginText &amp;&amp; passwordText&amp;&amp;logIn()" v-on:keyup.ctrl.enter="loginText &amp;&amp; passwordText &amp;&amp;logIn()"><div class="modal-block-logo"><img src="/assets/imgs/logo.svg" width="157px"/></div><div class="login"><div class="modal-input"><vue-input value="" v-model="loginText" type="input" name="login" placeholder="Логин">Логин</vue-input></div><div class="modal-input"><vue-input value="" v-model="passwordText" type="password" name="password" placeholder="Пароль">Пароль</vue-input></div><div class="modal__row"><vue-button v-bind:gradient="true" :disabled="!(loginText &amp;&amp; passwordText)" @click.native="logIn">Войти</vue-button><a class="modal__link" data-href="/auth/recovery" @click.prevent="changePage" href="#">Забыли пароль?</a></div></div></div><div class="modal-block" v-if="modalType == 'recovery'" v-on:keyup.enter="isEmailValid &amp;&amp; recovery()" v-on:keyup.ctrl.enter="isEmailValid &amp;&amp;recovery()"><div class="modal-block-logo"><img src="/assets/imgs/logo.svg" width="157px"/></div><div class="recovery"><h3 class="modal__title">Восстановление доступа</h3><div class="modal-input"><vue-input value="" type="email" :required="true" v-model="recoveryEmail" name="email" placeholder="Почта">Почта</vue-input></div><div class="modal__row"><vue-button v-bind:gradient="true" @click.native="recovery" :disabled="!isEmailValid">Напомнить пароль</vue-button><a class="modal__link" data-href="/auth/login" @click.prevent="changePage" href="#">Войти с паролем</a></div></div></div><div class="modal-block" v-if="modalType == 'message'"><div class="modal-block-logo"><img src="/assets/imgs/logo.svg" width="157px"/></div><div class="message"><h3 class="modal__title">Новый пароль выслан на почту!</h3><vue-button v-bind:gradient="true" @click.native="goAuth">Войти с паролем</vue-button><div class="modal__row"><p class="modal__text">Не пришел пароль?</p><a class="modal__link" data-href="/auth/recovery" @click.prevent="changePage" href="#">Выслать заново</a></div></div></div></div></div></div></div></div></script>

dev/pug/vue/layout/modal.vue.pug
script(type="text/x-template"  id="template-modal")
	.modal.fade#auth(style="display: none;" tabindex="-1" role="dialog" aria-labelledby="auth" aria-hidden="true")
		.modal-dialog(role='document')
			.modal-content
				.modal-body
					.wrap.modal__wrap
						.modal-block(v-if="modalType == 'login'", v-on:keyup.enter="loginText && passwordText&&logIn()",  v-on:keyup.ctrl.enter="loginText && passwordText &&logIn()")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.login
								.modal-input
									vue-input(value="", v-model="loginText", type="input", name='login' , placeholder="Логин") Логин
								.modal-input
									vue-input(value="", v-model="passwordText", type="password", name='password' , placeholder="Пароль") Пароль
								.modal__row
									vue-button(v-bind:gradient="true", :disabled="!(loginText && passwordText)", @click.native="logIn") Войти
									a(data-href="/auth/recovery", @click.prevent="changePage", href="#" ).modal__link Забыли пароль?

						.modal-block(v-if="modalType == 'recovery'", v-on:keyup.enter="isEmailValid && recovery()",  v-on:keyup.ctrl.enter="isEmailValid &&recovery()")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.recovery
								h3.modal__title Восстановление доступа
								.modal-input
									vue-input(
										value="",
										type="email", 
										:required="true", 
										v-model="recoveryEmail",
										name='email' ,
										placeholder="Почта"
									) Почта
								.modal__row
									vue-button(v-bind:gradient="true", @click.native="recovery", :disabled="!isEmailValid") Напомнить пароль
									a(data-href="/auth/login", @click.prevent="changePage", href="#").modal__link Войти с паролем

						.modal-block(v-if="modalType == 'message'")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.message
								h3.modal__title Новый пароль выслан на почту!
								vue-button(v-bind:gradient="true", @click.native="goAuth") Войти с паролем
								.modal__row
									p.modal__text Не пришел пароль?
									a(data-href="/auth/recovery", @click.prevent="changePage", href="#").modal__link Выслать заново
